In [1]:
#importing the libraries

import pandas as pd
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
#reading the 2010 data which just had 1 sheet of data

data = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2010.xlsx',skiprows=3,index_col=0)

In [3]:
#generating the profile report for 2010 data
profile = ProfileReport(data, title = "Pandas Profiling Report")

In [ ]:
#displaying the profile report
profile.to_widgets()

In [4]:
#13th column has the total emission by each facility for the year 2010 and the rest of the columns does not have 
#significant data and most of them null as per the profile report
df=data.iloc[:,0:13]

In [5]:
#generating profile report for this subset of data
profile_df = ProfileReport(df, title = "Pandas Profiling Report - Direct Emissions")

In [6]:
profile_df.to_widgets()

Summarize dataset:   0%|          | 0/27 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

In [120]:
#read the direct emitters data for the years 2011-2020
data1_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2011.xlsx',skiprows=3,index_col=0,usecols="A:N",)
data2_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2012.xlsx',skiprows=3,index_col=0,usecols="A:N")
data3_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2013.xlsx',skiprows=3,index_col=0,usecols="A:N")
data4_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2014.xlsx',skiprows=3,index_col=0,usecols="A:N")
data5_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2015.xlsx',skiprows=3,index_col=0,usecols="A:N")
data6_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2016.xlsx',skiprows=3,index_col=0,usecols="A:N")
data7_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2017.xlsx',skiprows=3,index_col=0,usecols="A:N")
data8_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2018.xlsx',skiprows=3,index_col=0,usecols="A:N")
data9_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2019.xlsx',skiprows=3,index_col=0,usecols="A:N")
data10_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2020.xlsx',skiprows=3,index_col=0,usecols="A:N")

In [111]:
#reading the emission data from onshore oil and gas production for the years 2011 to 2020

data1_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2011.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data2_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2012.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data3_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2013.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data4_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2014.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data5_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2015.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data6_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2016.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data7_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2017.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data8_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2018.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data9_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2019.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data10_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2020.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)

In [107]:
#reading the emission data from LDC- direct emissions for the years 2011 to 2020

data1_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2011.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 2)
data2_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2012.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 2)
data3_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2013.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 2)
data4_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2014.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 2)
data5_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2015.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 2)
data6_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2016.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 4)
data7_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2017.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 4)
data8_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2018.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 4)
data9_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2019.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 4)
data10_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2020.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 4)

In [89]:
#reading the emission data from SF6 from electric emissions for the years 2011 to 2020

data1_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2011.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 3)
data2_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2012.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 3)
data3_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2013.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 3)
data4_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2014.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 3)
data5_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2015.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 3)
data6_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2016.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 5)
data7_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2017.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 5)
data8_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2018.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 5)
data9_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2019.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 5)
data10_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2020.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 5)

In [90]:
df_sf6 = data1_sf6.merge(data2_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='right',suffixes = ('','_2012'))
df_sf6 = df_sf6.merge(data3_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='right',suffixes=('','_2013'))
df_sf6 = df_sf6.merge(data4_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='right',suffixes=('','_2014'))
df_sf6 = df_sf6.merge(data5_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='right',suffixes=('','_2015'))
df_sf6 = df_sf6.merge(data6_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='right',suffixes=('','_2016'))
df_sf6 = df_sf6.merge(data7_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='right',suffixes=('','_2017'))
df_sf6 = df_sf6.merge(data8_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='right',suffixes=('','_2018'))
df_sf6 = df_sf6.merge(data9_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='right',suffixes=('','_2019'))
df_sf6 = df_sf6.merge(data10_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='right',suffixes=('','_2020'))

In [91]:
df_sf6.head()

,FRS Id,Facility Name,Reported City,Reported State,Reported Zip Code,Reported Address,Reported County,Reported Latitude,Reported Longitude,Primary NAICS Code,Industry Type (subparts),Total reported direct emissions from Electrical Equipment Use,SF6 emissions,Total reported direct emissions from Electrical Equipment Use_2012,SF6 emissions _2012
Facility Id,,,,,,,,,,,,,,,
1003708,1.100006e+11,AEP Corporate SF6 Emissions,Columbus,OH,43215.0,1 Riverside Plaza,WASHINGTON,39.588493,-81.682523,221112.0,DD,123781.20,123781.20,88826.52,88826.52
1010640,1.100067e+11,"ALLETE, Inc. Transmission and Distribution System",Duluth,MN,55802.0,30 West Superior Street,ST. LOUIS COUNTY,46.786080,-92.099260,221122.0,DD,1436.40,1436.40,7736.04,7736.04
1010811,1.100107e+11,Ameren Illinois Electric,Peoria,IL,61602.0,300 Liberty Street,PEORIA COUNTY,40.690480,-89.592440,221122.0,DD,11251.80,11251.80,91298.04,91298.04
1010812,1.100118e+11,Ameren Missouri Electric,St. Louis,MO,63103.0,1901 Chouteau Avenue,SAINT LOUIS CITY,38.620785,-90.211635,221122.0,DD,31703.40,31703.40,14322.96,14322.96
1009444,1.100435e+11,American Transmission Company,Waukesha,WI,53188.0,W234 N2000 Ridgeview Parkway Court,WAUKESHA,43.060408,-88.225005,221121.0,DD,10859.64,10859.64,33518.28,33518.28

In [93]:
df_sf6.columns

Index(['FRS Id', 'Facility Name', 'Reported City', 'Reported State',
       'Reported Zip Code', 'Reported Address', 'Reported County',
       'Reported Latitude', 'Reported Longitude', 'Primary NAICS Code',
       'Industry Type (subparts)',
       'Total reported direct emissions from Electrical Equipment Use',
       'SF6 emissions ',
       'Total reported direct emissions from Electrical Equipment Use_2012',
       'SF6 emissions _2012',
       'Total reported direct emissions from Electrical Equipment Use_2013',
       'SF6 emissions _2013'],
      dtype='object')

In [108]:
data1_ldc.columns

Index(['FRS Id', 'Facility Name', 'State where Emissions Occur',
       'Reported City', 'Reported State', 'Reported Zip Code',
       'Reported Address', 'Reported County', 'Reported Latitude',
       'Reported Longitude', 'Primary NAICS Code', 'Industry Type (subparts)',
       'Total reported direct emissions from Local Distribution Companies'],
      dtype='object')

In [109]:
df_ldc = data1_ldc.merge(data2_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='right',suffixes = ('','_2012'))
df_ldc = df_ldc.merge(data3_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='right',suffixes=('','_2013'))
df_ldc = df_ldc.merge(data4_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='right',suffixes=('','_2014'))
df_ldc = df_ldc.merge(data5_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='right',suffixes=('','_2015'))
df_ldc = df_ldc.merge(data6_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='right',suffixes=('','_2016'))
df_ldc = df_ldc.merge(data7_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='right',suffixes=('','_2017'))
df_ldc = df_ldc.merge(data8_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='right',suffixes=('','_2018'))
df_ldc = df_ldc.merge(data9_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='right',suffixes=('','_2019'))
df_ldc = df_ldc.merge(data10_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='right',suffixes=('','_2020'))

In [110]:
df_ldc.columns

Index(['FRS Id', 'Facility Name', 'State where Emissions Occur',
       'Reported City', 'Reported State', 'Reported Zip Code',
       'Reported Address', 'Reported County', 'Reported Latitude',
       'Reported Longitude', 'Primary NAICS Code', 'Industry Type (subparts)',
       'Total reported direct emissions from Local Distribution Companies',
       'Total reported direct emissions from Local Distribution Companies_2012',
       'Total reported direct emissions from Local Distribution Companies_2013',
       'Total reported direct emissions from Local Distribution Companies_2014',
       'Total reported direct emissions from Local Distribution Companies_2015',
       'Total reported direct emissions from Local Distribution Companies_2016',
       'Total reported direct emissions from Local Distribution Companies_2017',
       'Total reported direct emissions from Local Distribution Companies_2018',
       'Total reported direct emissions from Local Distribution Companies_2019',
       'Total reported direct emissions from Local Distribution Companies_2020'],
      dtype='object')

In [113]:
data1_oog.columns

Index(['FRS Id', 'Facility Name', 'Basin', 'Reported City', 'Reported State',
       'Reported Zip Code', 'Reported Address', 'Reported County',
       'Reported Latitude', 'Reported Longitude', 'Primary NAICS Code',
       'Industry Type (subparts)',
       'Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions '],
      dtype='object')

In [114]:
df_oog = data1_oog.merge(data2_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='right',suffixes = ('','_2012'))
df_oog = df_oog.merge(data3_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='right',suffixes=('','_2013'))
df_oog = df_oog.merge(data4_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='right',suffixes=('','_2014'))
df_oog = df_oog.merge(data5_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='right',suffixes=('','_2015'))
df_oog = df_oog.merge(data6_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='right',suffixes=('','_2016'))
df_oog = df_oog.merge(data7_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='right',suffixes=('','_2017'))
df_oog = df_oog.merge(data8_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='right',suffixes=('','_2018'))
df_oog = df_oog.merge(data9_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='right',suffixes=('','_2019'))
df_oog = df_oog.merge(data10_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='right',suffixes=('','_2020'))

In [115]:
df_oog.head()

,FRS Id,Facility Name,Basin,Reported City,Reported State,Reported Zip Code,Reported Address,Reported County,Reported Latitude,Reported Longitude,...,Methane (CH4) emissions _2018,Nitrous Oxide (N2O) emissions _2018,Total reported emissions from Onshore Oil & Gas Production _2019,CO2 emissions (non-biogenic) _2019,Methane (CH4) emissions _2019,Nitrous Oxide (N2O) emissions _2019,Total reported emissions from Onshore Oil & Gas Production _2020,CO2 emissions (non-biogenic) _2020,Methane (CH4) emissions _2020,Nitrous Oxide (N2O) emissions _2020
Facility Id,,,,,,,,,,,,,,,,,,,,,
1000355,1.100030e+11,#540 BONANZA CREEK ENERGY - DENVER BASIN,540 - Denver Basin,Denver,CO,80202.0,"410 17th Street, Suite 1500",DENVER COUNTY,39.744310,-104.988580,...,90165.50,101.022,330937.720,240845.0,89976.50,116.220,293919.042,207468.9,86329.75,120.392
1009238,NaN,220 Gulf Coast Basin DEC,"220 - Gulf Coast Basin (LA, TX)",Oklahoma City,OK,73102.0,333 West Sheridan Ave,NaN,35.471181,-97.516602,...,203911.75,253.300,678933.080,475776.9,202773.25,382.930,586008.596,380272.8,205504.25,231.546
1009170,1.100381e+11,260 East Texas Basin - BP America Production C...,260 - East Texas Basin,Houston,TX,77079.0,501 Westlake Park Blvd.,HARRIS COUNTY,29.780370,-95.629500,...,21490.50,173.436,76941.042,61622.3,15176.00,142.742,23735.104,8196.3,15524.50,14.304
1009265,1.100677e+11,360 Anadarko Basin,360 - Anadarko Basin,Oklahoma City,OK,73114.0,701 Cedar Lake Blvd,OKLAHOMA COUNTY,35.567190,-97.498270,...,106825.00,111.452,215964.304,133023.9,82829.25,111.154,124278.886,46886.0,77361.00,31.886
1008287,NaN,360 Anadarko Basin DEC,360 - Anadarko Basin,Oklahoma City,OK,73102.0,333 West Sheridan Ave,NaN,35.471181,-97.516602,...,131058.75,412.432,356909.018,259828.9,96829.50,250.618,319410.352,219377.6,99891.50,141.252

In [116]:
df_oog.columns

Index(['FRS Id', 'Facility Name', 'Basin', 'Reported City', 'Reported State',
       'Reported Zip Code', 'Reported Address', 'Reported County',
       'Reported Latitude', 'Reported Longitude', 'Primary NAICS Code',
       'Industry Type (subparts)',
       'Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ',
       'Total reported emissions from Onshore Oil & Gas Production _2012',
       'CO2 emissions (non-biogenic) _2012', 'Methane (CH4) emissions _2012',
       'Nitrous Oxide (N2O) emissions _2012',
       'Total reported emissions from Onshore Oil & Gas Production _2013',
       'CO2 emissions (non-biogenic) _2013', 'Methane (CH4) emissions _2013',
       'Nitrous Oxide (N2O) emissions _2013',
       'Total reported emissions from Onshore Oil & Gas Production _2014',
       'CO2 emissions (non-biogenic) _2014', 'Methane (CH4) emissions _2014',
       'Nitrous Oxide (N2O) emissions _2014',
       'Total reported emissions from Onshore Oil & Gas Production _2015',
       'CO2 emissions (non-biogenic) _2015', 'Methane (CH4) emissions _2015',
       'Nitrous Oxide (N2O) emissions _2015',
       'Total reported emissions from Onshore Oil & Gas Production _2016',
       'CO2 emissions (non-biogenic) _2016', 'Methane (CH4) emissions _2016',
       'Nitrous Oxide (N2O) emissions _2016',
       'Total reported emissions from Onshore Oil & Gas Production _2017',
       'CO2 emissions (non-biogenic) _2017', 'Methane (CH4) emissions _2017',
       'Nitrous Oxide (N2O) emissions _2017',
       'Total reported emissions from Onshore Oil & Gas Production _2018',
       'CO2 emissions (non-biogenic) _2018', 'Methane (CH4) emissions _2018',
       'Nitrous Oxide (N2O) emissions _2018',
       'Total reported emissions from Onshore Oil & Gas Production _2019',
       'CO2 emissions (non-biogenic) _2019', 'Methane (CH4) emissions _2019',
       'Nitrous Oxide (N2O) emissions _2019',
       'Total reported emissions from Onshore Oil & Gas Production _2020',
       'CO2 emissions (non-biogenic) _2020', 'Methane (CH4) emissions _2020',
       'Nitrous Oxide (N2O) emissions _2020'],
      dtype='object')

In [117]:
df_oog.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 468 entries, 1000355 to 1013771
Data columns (total 52 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   FRS Id                                                            183 non-null    float64
 1   Facility Name                                                     210 non-null    object
 2   Basin                                                             205 non-null    object
 3   Reported City                                                     210 non-null    object
 4   Reported State                                                    210 non-null    object
 5   Reported Zip Code                                                 210 non-null    float64
 6   Reported Address                                                  209 non-null    object
 7   Reported County                                                   161 non-null    object
 8   Reported Latitude                                                 210 non-null    float64
 9   Reported Longitude                                                210 non-null    float64
 10  Primary NAICS Code                                                210 non-null    float64
 11  Industry Type (subparts)                                          210 non-null    object
 12  Total reported emissions from Onshore Oil & Gas Production        210 non-null    float64
 13  CO2 emissions (non-biogenic)                                      210 non-null    float64
 14  Methane (CH4) emissions                                           210 non-null    float64
 15  Nitrous Oxide (N2O) emissions                                     199 non-null    float64
 16  Total reported emissions from Onshore Oil & Gas Production _2012  232 non-null    float64
 17  CO2 emissions (non-biogenic) _2012                                232 non-null    float64
 18  Methane (CH4) emissions _2012                                     232 non-null    float64
 19  Nitrous Oxide (N2O) emissions _2012                               219 non-null    float64
 20  Total reported emissions from Onshore Oil & Gas Production _2013  255 non-null    float64
 21  CO2 emissions (non-biogenic) _2013                                255 non-null    float64
 22  Methane (CH4) emissions _2013                                     255 non-null    float64
 23  Nitrous Oxide (N2O) emissions _2013                               239 non-null    float64
 24  Total reported emissions from Onshore Oil & Gas Production _2014  289 non-null    float64
 25  CO2 emissions (non-biogenic) _2014                                289 non-null    float64
 26  Methane (CH4) emissions _2014                                     289 non-null    float64
 27  Nitrous Oxide (N2O) emissions _2014                               277 non-null    float64
 28  Total reported emissions from Onshore Oil & Gas Production _2015  318 non-null    float64
 29  CO2 emissions (non-biogenic) _2015                                318 non-null    float64
 30  Methane (CH4) emissions _2015                                     318 non-null    float64
 31  Nitrous Oxide (N2O) emissions _2015                               299 non-null    float64
 32  Total reported emissions from Onshore Oil & Gas Production _2016  343 non-null    float64
 33  CO2 emissions (non-biogenic) _2016                                343 non-null    float64
 34  Methane (CH4) emissions _2016                                     343 non-null    float64
 35  Nitrous Oxide (N2O) emissions _2016                               321 non-null    float64
 36  Total reported emissions from Onshore Oil & Gas Production _2017  377 non-null    float64
 37  CO2 emissions (non-biogenic) _2017                                377 non-null    float64
 38  Methane (CH4) emissions _2017                                     377 non-null    float64
 39  Nitrous Oxide (N2O) emissions _2017                               354 non-null    float64
 40  Total reported emissions from Onshore Oil & Gas Production _2018  419 non-null    float64
 41  CO2 emissions (non-biogenic) _2018                                417 non-null    float64
 42  Methane (CH4) emissions _2018                                     418 non-null    float64
 43  Nitrous Oxide (N2O) emissions _2018                               400 non-null    float64
 44  Total reported emissions from Onshore Oil & Gas Production _2019  449 non-null    float64
 45  CO2 emissions (non-biogenic) _2019                                448 non-null    float64
 46  Methane (CH4) emissions _2019                                     448 non-null    float64
 47  Nitrous Oxide (N2O) emissions _2019                               429 non-null    float64
 48  Total reported emissions from Onshore Oil & Gas Production _2020  468 non-null    float64
 49  CO2 emissions (non-biogenic) _2020                                466 non-null    float64
 50  Methane (CH4) emissions _2020                                     467 non-null    float64
 51  Nitrous Oxide (N2O) emissions _2020                               443 non-null    float64
dtypes: float64(45), object(7)
memory usage: 193.8+ KB

In [118]:
df_oog.describe()

,FRS Id,Reported Zip Code,Reported Latitude,Reported Longitude,Primary NAICS Code,Total reported emissions from Onshore Oil & Gas Production,CO2 emissions (non-biogenic),Methane (CH4) emissions,Nitrous Oxide (N2O) emissions,Total reported emissions from Onshore Oil & Gas Production _2012,...,Methane (CH4) emissions _2018,Nitrous Oxide (N2O) emissions _2018,Total reported emissions from Onshore Oil & Gas Production _2019,CO2 emissions (non-biogenic) _2019,Methane (CH4) emissions _2019,Nitrous Oxide (N2O) emissions _2019,Total reported emissions from Onshore Oil & Gas Production _2020,CO2 emissions (non-biogenic) _2020,Methane (CH4) emissions _2020,Nitrous Oxide (N2O) emissions _2020
count,1.830000e+02,210.000000,210.000000,210.000000,210.000000,2.100000e+02,2.100000e+02,2.100000e+02,199.000000,2.320000e+02,...,4.180000e+02,400.000000,4.490000e+02,4.480000e+02,4.480000e+02,429.000000,4.680000e+02,4.660000e+02,4.670000e+02,443.000000
mean,1.100379e+11,72255.719048,35.657700,-98.905559,211158.619048,2.781532e+05,1.052024e+05,1.728423e+05,114.545809,2.654018e+05,...,1.000690e+05,149.978568,2.590456e+05,1.646404e+05,9.482577e+04,164.702402,1.997609e+05,1.187905e+05,8.153659e+04,122.197698
std,1.811801e+07,17880.845285,6.654899,11.333519,690.065559,5.059905e+05,1.637526e+05,4.224777e+05,188.332169,4.312539e+05,...,1.909046e+05,311.533115,4.132714e+05,3.303068e+05,1.872209e+05,423.614816,3.165285e+05,2.140498e+05,1.771384e+05,391.809531
min,1.100008e+11,15086.000000,26.198570,-151.753262,211111.000000,1.967300e+03,1.080000e+01,4.750000e+01,0.298000,7.564000e+02,...,1.850000e+01,0.178800,0.000000e+00,0.000000e+00,5.175000e+01,0.178800,0.000000e+00,0.000000e+00,2.450000e+01,0.298000
25%,1.100229e+11,73121.500000,29.983466,-102.615285,211111.000000,5.991777e+04,1.448052e+04,2.602956e+04,12.367000,6.438078e+04,...,1.384119e+04,16.911500,5.033973e+04,1.801830e+04,1.257912e+04,16.688000,4.372333e+04,1.338573e+04,1.013238e+04,11.473000
50%,1.100417e+11,77002.000000,35.468820,-96.829740,211111.000000,1.369653e+05,4.804720e+04,5.995350e+04,39.038000,1.274907e+05,...,3.918088e+04,54.534000,1.165947e+05,5.664305e+04,3.569612e+04,53.342000,9.605335e+04,4.219105e+04,3.215200e+04,37.548000
75%,1.100555e+11,79705.000000,39.742905,-95.370960,211111.000000,3.173349e+05,1.165024e+05,1.584326e+05,145.722000,2.900933e+05,...,1.017840e+05,144.306500,2.904509e+05,1.602652e+05,9.582125e+04,152.576000,2.194286e+05,1.200500e+05,8.692550e+04,108.919000
max,1.100677e+11,99734.000000,70.508111,-77.001065,221111.000000,6.181128e+06,1.204406e+06,5.329691e+06,1461.988000,5.020111e+06,...,2.321394e+06,4016.712200,3.322124e+06,3.200349e+06,2.303916e+06,7015.486200,3.221437e+06,1.617444e+06,2.237982e+06,7278.203000

In [127]:
df_de = data1_de.merge(data2_de['Total reported direct emissions'], on='Facility Id', how='right', suffixes=('','_2012'))
df_de = df_de.merge(data3_de['Total reported direct emissions'], on='Facility Id', how='right', suffixes=('','_2013'))
df_de = df_de.merge(data4_de['Total reported direct emissions'], on='Facility Id', how='right', suffixes=('','_2014'))
df_de = df_de.merge(data5_de['Total reported direct emissions'], on='Facility Id', how='right', suffixes=('','_2015'))
df_de = df_de.merge(data6_de['Total reported direct emissions'], on='Facility Id', how='right', suffixes=('','_2016'))
df_de = df_de.merge(data7_de['Total reported direct emissions'], on='Facility Id', how='right', suffixes=('','_2017'))
df_de = df_de.merge(data8_de['Total reported direct emissions'], on='Facility Id', how='right', suffixes=('','_2018'))
df_de = df_de.merge(data9_de['Total reported direct emissions'], on='Facility Id', how='right', suffixes=('','_2019'))
df_de = df_de.merge(data10_de['Total reported direct emissions'], on='Facility Id', how='right', suffixes=('','_2020'))

In [128]:
df_de.columns

Index(['FRS Id', 'Facility Name', 'City', 'State', 'Zip Code', 'Address',
       'County', 'Latitude', 'Longitude', 'Primary NAICS Code',
       'Industry Type (subparts)', 'Industry Type (sectors)',
       'Total reported direct emissions',
       'Total reported direct emissions_2012',
       'Total reported direct emissions_2013',
       'Total reported direct emissions_2014',
       'Total reported direct emissions_2015',
       'Total reported direct emissions_2016',
       'Total reported direct emissions_2017',
       'Total reported direct emissions_2018',
       'Total reported direct emissions_2019',
       'Total reported direct emissions_2020'],
      dtype='object')

In [129]:
#Count of missing values in df_de by columns

missing = pd.concat([df_de.isnull().sum(), 100 * df_de.isnull().mean()], axis=1)
missing.columns=["count", "%"]
missing.sort_values(by='count',ascending = False)

                                      count          %
Address                                1520  23.330775
County                                 1289  19.785111
FRS Id                                 1236  18.971604
Longitude                              1223  18.772064
Total reported direct emissions        1223  18.772064
Facility Name                          1223  18.772064
Industry Type (subparts)               1223  18.772064
Primary NAICS Code                     1223  18.772064
Industry Type (sectors)                1223  18.772064
Latitude                               1223  18.772064
Zip Code                               1223  18.772064
State                                  1223  18.772064
City                                   1223  18.772064
Total reported direct emissions_2012   1097  16.838066
Total reported direct emissions_2013    958  14.704528
Total reported direct emissions_2014    802  12.310054
Total reported direct emissions_2015    699  10.729087
Total reported direct emissions_2016    583   8.948580
Total reported direct emissions_2017    453   6.953185
Total reported direct emissions_2018    282   4.328473
Total reported direct emissions_2019    115   1.765157
Total reported direct emissions_2020      0   0.000000

In [130]:
#categorical features
df_de.select_dtypes('object')

,Facility Name,City,State,Address,County,Industry Type (subparts),Industry Type (sectors)
Facility Id,,,,,,,
1004377,121 REGIONAL DISPOSAL FACILITY,MELISSA,TX,3820 SAM RAYBURN HIGHWAY,COLLIN COUNTY,HH,Waste
1000112,23rd and 3rd,BROOKLYN,NY,730 3rd Avenue,Kings,"C,D",Power Plants
1013621,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003742,31st Street Landfill,WESTCHESTER,IL,11700 W 31ST ST,DUPAGE,HH,Waste
1003188,3M BROWNWOOD,BROWNWOOD,TX,4501 HIGHWAY 377 SOUTH,BROWN COUNTY,"C,N",Minerals
...,...,...,...,...,...,...,...
1010592,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000805,Zion Energy Center,ZION,IL,5701 NINTH ST,Lake,"C,D",Power Plants
1001464,Zuni,DENVER,CO,1335 ZUNI ST,Denver,D,Power Plants
1012625,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1011696,white oak landfill,waynesville,NC,3898 fines creek rd,HAYWOOD COUNTY,"C,HH",Waste

In [134]:
(df_de['Facility Name']+', '+df_de['City']+', '+df_de['State']+', '+df_de['Address']).value_counts().head()

FORT HOOD, FORT HOOD, TX, 4612 ENGINEER DR., Attn: ENV          1
CHEMOURS EL DORADO, EL DORADO, AR, 322 SOUTHFIELD CUTOFF        1
IM Flash Technologies, LLC, Lehi, UT, 4000 North Flash Drive    1
MCCAIN FOODS USA INC, PLOVER, WI, HWY 54 AND 110TH ST.          1
SPADRA LANDFILL, WALNUT, CA, 4125 WEST VALLEY BOULEVARD         1
dtype: int64

In [135]:
df_de['County'].value_counts()

JEFFERSON            55
HARRIS               33
HARRIS COUNTY        31
LOS ANGELES          26
KERN                 25
                     ..
SHENANDOAH COUNTY     1
VANDERBURGH           1
BAKER                 1
NAVARRO               1
Fluvanna              1
Name: County, Length: 2134, dtype: int64

In [136]:
df_de['State'].value_counts()

TX    554
CA    328
LA    297
PA    225
IL    215
OH    193
MI    181
NY    178
IN    165
FL    152
AL    147
GA    134
IA    133
OK    131
WI    117
KY    115
MN    113
NC    109
VA    104
TN     95
KS     93
CO     92
MO     91
SC     83
AR     80
WV     80
NJ     79
AZ     79
MS     78
WA     73
MA     66
NE     65
UT     59
NM     59
WY     56
AK     55
MD     50
OR     49
ND     40
CT     37
NV     35
ID     31
SD     28
HI     26
MT     25
ME     22
PR     20
NH     16
DE     15
RI     10
VT      5
VI      4
DC      3
GU      2
Name: State, dtype: int64

In [145]:
df_de.isnull().sum(axis=0)

FRS Id                                  1236
Facility Name                           1223
City                                    1223
State                                   1223
Zip Code                                1223
Address                                 1520
County                                  1289
Latitude                                1223
Longitude                               1223
Primary NAICS Code                      1223
Industry Type (subparts)                1223
Industry Type (sectors)                 1223
Total reported direct emissions         1223
Total reported direct emissions_2012    1097
Total reported direct emissions_2013     958
Total reported direct emissions_2014     802
Total reported direct emissions_2015     699
Total reported direct emissions_2016     583
Total reported direct emissions_2017     453
Total reported direct emissions_2018     282
Total reported direct emissions_2019     115
Total reported direct emissions_2020       0
dtype: int64

In [140]:
df_de.shape

(6515, 22)

In [149]:
df_de_1 = df_de.dropna(axis=0)

In [150]:
df_de_1.isnull().sum(axis=1)

Facility Id
1004377    0
1000112    0
1003742    0
1003188    0
1003739    0
          ..
1003318    0
1001308    0
1000805    0
1001464    0
1011696    0
Length: 4985, dtype: int64

In [153]:
df_oog['Reported State'].value_counts()

TX    93
OK    35
CO    31
PA    14
MI     8
CA     7
AK     5
NM     3
UT     3
WY     2
AR     2
ND     2
MS     2
MT     1
WV     1
LA     1
Name: Reported State, dtype: int64

In [156]:
df_ldc['Reported State'].value_counts()

TX    17
IN    12
NY     8
VA     6
IA     6
TN     5
MA     5
MO     5
IL     5
PA     5
NC     5
FL     4
NJ     4
WI     4
CT     4
AL     4
CA     3
OH     3
NV     3
MI     3
MT     3
WV     2
MN     2
OR     2
AZ     2
MD     2
KS     2
DE     2
WA     2
LA     2
KY     2
NE     1
SC     1
GA     1
RI     1
NM     1
CO     1
AR     1
MS     1
OK     1
UT     1
Name: Reported State, dtype: int64

In [158]:
df_sf6['Reported State'].value_counts()

CA    9
TX    7
NY    4
WA    4
OH    3
FL    3
AZ    3
MI    2
NV    2
PA    2
IA    2
MN    2
KY    2
CO    1
TN    1
GA    1
OK    1
NM    1
OR    1
VT    1
MA    1
MO    1
NC    1
KS    1
HI    1
VA    1
IL    1
PR    1
NE    1
IN    1
UT    1
Name: Reported State, dtype: int64

Trying to commit in git