In [2]:
#importing the libraries

import pandas as pd
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [3]:
#reading the 2010 data which just had 1 sheet of data

data = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2010.xlsx',skiprows=3,index_col=0)

In [4]:
#generating the profile report for 2010 data
profile = ProfileReport(data, title = "Pandas Profiling Report")

In [5]:
#displaying the profile report
profile.to_widgets()

Summarize dataset:   0%|          | 0/66 [00:00<?, ?it/s]

C:\Users\Radhai\anaconda3\lib\site-packages\pandas_profiling\model\correlations.py:146: UserWarning: There was an attempt to calculate the cramers correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"cramers": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/pandas-profiling/pandas-profiling/issues
(include the error message: 'No data; `observed` has size 0.')
  warnings.warn(
C:\Users\Radhai\anaconda3\lib\site-packages\missingno\missingno.py:250: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax1.set_xticklabels(ax1.get_xticklabels(), rotation=45, ha='right', fontsize=fontsize)
C:\Users\Radhai\anaconda3\lib\site-packages\pandas_profiling\model\summary.py:194: UserWarning: There was an attempt to generate the bar missing values diagrams, but this failed.
    To hide this warning, disable the calculation
    (using `df.profile_report(missing_diagrams={"bar": False}`)
    If this is problematic for your use case, please report this as an issue:
    https://github.com/pandas-profiling/pandas-profiling/issues
    (include the error message: 'The number of FixedLocator locations (7), usually from a call to set_ticks, does not match the number of ticklabels (53).')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [6]:
#13th column has the total emission by each facility for the year 2010 and the rest of the columns does not have 
#significant data and most of them null as per the profile report
df=data.iloc[:,0:13]

In [7]:
#generating profile report for this subset of data
profile_df = ProfileReport(df, title = "Pandas Profiling Report - Direct Emissions")

In [8]:
profile_df.to_widgets()

Summarize dataset:   0%|          | 0/27 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [9]:
#read the direct emitters data for the years 2011-2020
data1_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2011.xlsx',skiprows=3,index_col=0,usecols="A:N",)
data2_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2012.xlsx',skiprows=3,index_col=0,usecols="A:N")
data3_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2013.xlsx',skiprows=3,index_col=0,usecols="A:N")
data4_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2014.xlsx',skiprows=3,index_col=0,usecols="A:N")
data5_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2015.xlsx',skiprows=3,index_col=0,usecols="A:N")
data6_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2016.xlsx',skiprows=3,index_col=0,usecols="A:N")
data7_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2017.xlsx',skiprows=3,index_col=0,usecols="A:N")
data8_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2018.xlsx',skiprows=3,index_col=0,usecols="A:N")
data9_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2019.xlsx',skiprows=3,index_col=0,usecols="A:N")
data10_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2020.xlsx',skiprows=3,index_col=0,usecols="A:N")

In [10]:
#reading the emission data from onshore oil and gas production for the years 2011 to 2020

data1_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2011.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data2_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2012.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data3_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2013.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data4_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2014.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data5_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2015.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data6_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2016.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data7_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2017.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data8_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2018.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data9_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2019.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data10_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2020.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)

In [11]:
#reading the emission data from LDC- direct emissions for the years 2011 to 2020

data1_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2011.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 2)
data2_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2012.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 2)
data3_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2013.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 2)
data4_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2014.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 2)
data5_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2015.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 2)
data6_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2016.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 4)
data7_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2017.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 4)
data8_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2018.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 4)
data9_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2019.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 4)
data10_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2020.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 4)

In [12]:
#reading the emission data from SF6 from electric emissions for the years 2011 to 2020

data1_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2011.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 3)
data2_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2012.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 3)
data3_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2013.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 3)
data4_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2014.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 3)
data5_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2015.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 3)
data6_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2016.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 5)
data7_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2017.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 5)
data8_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2018.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 5)
data9_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2019.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 5)
data10_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2020.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 5)

In [97]:
df_sf6 = data10_sf6.merge(data9_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='left',suffixes = ('','_2019'))
df_sf6 = df_sf6.merge(data8_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='left',suffixes=('','_2018'))
df_sf6 = df_sf6.merge(data7_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='left',suffixes=('','_2017'))
df_sf6 = df_sf6.merge(data6_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='left',suffixes=('','_2016'))
df_sf6 = df_sf6.merge(data5_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='left',suffixes=('','_2015'))
df_sf6 = df_sf6.merge(data4_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='left',suffixes=('','_2014'))
df_sf6 = df_sf6.merge(data3_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='left',suffixes=('','_2013'))
df_sf6 = df_sf6.merge(data2_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='left',suffixes=('','_2012'))
df_sf6 = df_sf6.merge(data1_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='left',suffixes=('','_2011'))

In [14]:
df_sf6.head()

,FRS Id,Facility Name,Reported City,Reported State,Reported Zip Code,Reported Address,Reported County,Reported Latitude,Reported Longitude,Primary NAICS Code,...,Total reported direct emissions from Electrical Equipment Use_2016,SF6 emissions _2016,Total reported direct emissions from Electrical Equipment Use_2017,SF6 emissions _2017,Total reported direct emissions from Electrical Equipment Use_2018,SF6 emissions _2018,Total reported direct emissions from Electrical Equipment Use_2019,SF6 emissions _2019,Total reported direct emissions from Electrical Equipment Use_2020,SF6 emissions _2020
Facility Id,,,,,,,,,,,,,,,,,,,,,
1003708,1.100006e+11,AEP Corporate SF6 Emissions,Columbus,OH,43215.0,1 Riverside Plaza,WASHINGTON,39.588493,-81.682523,221112.0,...,464030.16,464030.16,197281.56,197281.56,169844.04,169844.04,172689.48,172689.48,132693.72,132693.72
1010811,1.100107e+11,Ameren Illinois Electric,Peoria,IL,61602.0,300 Liberty Street,PEORIA COUNTY,40.690480,-89.592440,221122.0,...,23251.44,23251.44,9888.36,9888.36,30171.24,30171.24,8846.40,8846.40,7644.84,7644.84
1010812,1.100118e+11,Ameren Missouri Electric,St. Louis,MO,63103.0,1901 Chouteau Avenue,SAINT LOUIS CITY,38.620785,-90.211635,221122.0,...,5180.16,5180.16,20301.12,20301.12,14706.00,14706.00,10745.64,10745.64,5264.52,5264.52
1010076,1.100555e+11,Anaheim Electric Distribution System,Anaheim,CA,92805.0,"201 S. Anaheim Blvd., MS-1101",ORANGE COUNTY,33.834580,-117.914010,221122.0,...,6037.44,6037.44,1422.72,1422.72,2152.32,2152.32,2845.44,2845.44,1810.32,1810.32
1009780,1.100118e+11,Arizona Public Service Company,Phoenix,AZ,85021.0,2124 W. Cheryl Ave.,MARICOPA COUNTY,33.563442,-112.089368,221121.0,...,26454.84,26454.84,14897.52,14897.52,9482.52,9482.52,9238.56,9238.56,40777.80,40777.80

In [15]:
df_sf6.columns

Index(['FRS Id', 'Facility Name', 'Reported City', 'Reported State',
       'Reported Zip Code', 'Reported Address', 'Reported County',
       'Reported Latitude', 'Reported Longitude', 'Primary NAICS Code',
       'Industry Type (subparts)',
       'Total reported direct emissions from Electrical Equipment Use',
       'SF6 emissions ',
       'Total reported direct emissions from Electrical Equipment Use_2012',
       'SF6 emissions _2012',
       'Total reported direct emissions from Electrical Equipment Use_2013',
       'SF6 emissions _2013',
       'Total reported direct emissions from Electrical Equipment Use_2014',
       'SF6 emissions _2014',
       'Total reported direct emissions from Electrical Equipment Use_2015',
       'SF6 emissions _2015',
       'Total reported direct emissions from Electrical Equipment Use_2016',
       'SF6 emissions _2016',
       'Total reported direct emissions from Electrical Equipment Use_2017',
       'SF6 emissions _2017',
       'Total reported direct emissions from Electrical Equipment Use_2018',
       'SF6 emissions _2018',
       'Total reported direct emissions from Electrical Equipment Use_2019',
       'SF6 emissions _2019',
       'Total reported direct emissions from Electrical Equipment Use_2020',
       'SF6 emissions _2020'],
      dtype='object')

In [16]:
data1_ldc.columns

Index(['FRS Id', 'Facility Name', 'State where Emissions Occur',
       'Reported City', 'Reported State', 'Reported Zip Code',
       'Reported Address', 'Reported County', 'Reported Latitude',
       'Reported Longitude', 'Primary NAICS Code', 'Industry Type (subparts)',
       'Total reported direct emissions from Local Distribution Companies'],
      dtype='object')

In [98]:
df_ldc = data10_ldc.merge(data9_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='left',suffixes = ('','_2019'))
df_ldc = df_ldc.merge(data8_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='left',suffixes=('','_2018'))
df_ldc = df_ldc.merge(data7_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='left',suffixes=('','_2017'))
df_ldc = df_ldc.merge(data6_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='left',suffixes=('','_2016'))
df_ldc = df_ldc.merge(data5_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='left',suffixes=('','_2015'))
df_ldc = df_ldc.merge(data4_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='left',suffixes=('','_2014'))
df_ldc = df_ldc.merge(data3_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='left',suffixes=('','_2013'))
df_ldc = df_ldc.merge(data2_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='left',suffixes=('','_2012'))
df_ldc = df_ldc.merge(data1_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='left',suffixes=('','_2011'))

In [18]:
df_ldc.columns

Index(['FRS Id', 'Facility Name', 'State where Emissions Occur',
       'Reported City', 'Reported State', 'Reported Zip Code',
       'Reported Address', 'Reported County', 'Reported Latitude',
       'Reported Longitude', 'Primary NAICS Code', 'Industry Type (subparts)',
       'Total reported direct emissions from Local Distribution Companies',
       'Total reported direct emissions from Local Distribution Companies_2012',
       'Total reported direct emissions from Local Distribution Companies_2013',
       'Total reported direct emissions from Local Distribution Companies_2014',
       'Total reported direct emissions from Local Distribution Companies_2015',
       'Total reported direct emissions from Local Distribution Companies_2016',
       'Total reported direct emissions from Local Distribution Companies_2017',
       'Total reported direct emissions from Local Distribution Companies_2018',
       'Total reported direct emissions from Local Distribution Companies_2019',
       'Total reported direct emissions from Local Distribution Companies_2020'],
      dtype='object')

In [19]:
data1_oog.columns

Index(['FRS Id', 'Facility Name', 'Basin', 'Reported City', 'Reported State',
       'Reported Zip Code', 'Reported Address', 'Reported County',
       'Reported Latitude', 'Reported Longitude', 'Primary NAICS Code',
       'Industry Type (subparts)',
       'Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions '],
      dtype='object')

In [99]:
df_oog = data10_oog.merge(data9_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='left',suffixes = ('','_2019'))
df_oog = df_oog.merge(data8_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='left',suffixes = ('','_2018'))
df_oog = df_oog.merge(data7_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='left',suffixes=('','_2017'))
df_oog = df_oog.merge(data6_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='left',suffixes=('','_2016'))
df_oog = df_oog.merge(data5_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='left',suffixes=('','_2015'))
df_oog = df_oog.merge(data4_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='left',suffixes=('','_2014'))
df_oog = df_oog.merge(data3_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='left',suffixes=('','_2013'))
df_oog = df_oog.merge(data2_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='left',suffixes=('','_2012'))
df_oog = df_oog.merge(data1_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='left',suffixes=('','_2011'))

In [94]:
df_oog.head()

,FRS Id,Facility Name,Basin,Reported City,Reported State,Reported Zip Code,Reported Address,Reported County,Reported Latitude,Reported Longitude,...,Methane (CH4) emissions _2013,Nitrous Oxide (N2O) emissions _2013,Total reported emissions from Onshore Oil & Gas Production _2012,CO2 emissions (non-biogenic) _2012,Methane (CH4) emissions _2012,Nitrous Oxide (N2O) emissions _2012,Total reported emissions from Onshore Oil & Gas Production _2011,CO2 emissions (non-biogenic) _2011,Methane (CH4) emissions _2011,Nitrous Oxide (N2O) emissions _2011
Facility Id,,,,,,,,,,,,,,,,,,,,,
1000355,1.100030e+11,#540 BONANZA CREEK ENERGY - DENVER BASIN,540 - Denver Basin,Denver,CO,80202.0,"410 17th Street, Suite 1500",DENVER COUNTY,39.744310,-104.98858,...,103953.5,44.700,151519.070,68969.2,82493.25,56.620,17728.250,7816.6,9896.75,14.900
1009263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22166.0,2.682,30756.726,5889.4,24863.75,3.576,84922.622,20512.0,64399.00,11.622
1009238,1.100144e+11,220 Gulf Coast Basin DEC,"220 - Gulf Coast Basin (LA, TX)",Oklahoma City,OK,73102.0,333 West Sheridan Ave,OKLAHOMA COUNTY,35.466697,-97.51453,...,36013.9,22.946,94675.778,47585.7,47057.00,33.078,148424.596,56991.8,91387.50,45.296
1008121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11541.1,5.364,27839.934,6010.8,21826.75,2.384,28858.972,6435.3,22419.50,4.172
1009283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,134732.5,13.708,302760.280,32173.4,270531.75,55.130,348357.764,75934.9,272268.50,154.364

In [100]:
df_oog.columns

Index(['FRS Id', 'Facility Name', 'Basin', 'Reported City', 'Reported State',
       'Reported Zip Code', 'Reported Address', 'Reported County',
       'Reported Latitude', 'Reported Longitude', 'Primary NAICS Code',
       'Industry Type (subparts)',
       'Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ',
       'Total reported emissions from Onshore Oil & Gas Production _2019',
       'CO2 emissions (non-biogenic) _2019', 'Methane (CH4) emissions _2019',
       'Nitrous Oxide (N2O) emissions _2019',
       'Total reported emissions from Onshore Oil & Gas Production _2018',
       'CO2 emissions (non-biogenic) _2018', 'Methane (CH4) emissions _2018',
       'Nitrous Oxide (N2O) emissions _2018',
       'Total reported emissions from Onshore Oil & Gas Production _2017',
       'CO2 emissions (non-biogenic) _2017', 'Methane (CH4) emissions _2017',
       'Nitrous Oxide (N2O) emissions _2017',
       'Total reported emissions from Onshore Oil & Gas Production _2016',
       'CO2 emissions (non-biogenic) _2016', 'Methane (CH4) emissions _2016',
       'Nitrous Oxide (N2O) emissions _2016',
       'Total reported emissions from Onshore Oil & Gas Production _2015',
       'CO2 emissions (non-biogenic) _2015', 'Methane (CH4) emissions _2015',
       'Nitrous Oxide (N2O) emissions _2015',
       'Total reported emissions from Onshore Oil & Gas Production _2014',
       'CO2 emissions (non-biogenic) _2014', 'Methane (CH4) emissions _2014',
       'Nitrous Oxide (N2O) emissions _2014',
       'Total reported emissions from Onshore Oil & Gas Production _2013',
       'CO2 emissions (non-biogenic) _2013', 'Methane (CH4) emissions _2013',
       'Nitrous Oxide (N2O) emissions _2013',
       'Total reported emissions from Onshore Oil & Gas Production _2012',
       'CO2 emissions (non-biogenic) _2012', 'Methane (CH4) emissions _2012',
       'Nitrous Oxide (N2O) emissions _2012',
       'Total reported emissions from Onshore Oil & Gas Production _2011',
       'CO2 emissions (non-biogenic) _2011', 'Methane (CH4) emissions _2011',
       'Nitrous Oxide (N2O) emissions _2011'],
      dtype='object')

In [101]:
df_oog.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 468 entries, 1000355 to 1013771
Data columns (total 52 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   FRS Id                                                            328 non-null    float64
 1   Facility Name                                                     468 non-null    object
 2   Basin                                                             459 non-null    object
 3   Reported City                                                     468 non-null    object
 4   Reported State                                                    468 non-null    object
 5   Reported Zip Code                                                 468 non-null    int64
 6   Reported Address                                                  463 non-null    object
 7   Reported County                                                   265 non-null    object
 8   Reported Latitude                                                 468 non-null    float64
 9   Reported Longitude                                                468 non-null    float64
 10  Primary NAICS Code                                                468 non-null    int64
 11  Industry Type (subparts)                                          468 non-null    object
 12  Total reported emissions from Onshore Oil & Gas Production        468 non-null    float64
 13  CO2 emissions (non-biogenic)                                      466 non-null    float64
 14  Methane (CH4) emissions                                           467 non-null    float64
 15  Nitrous Oxide (N2O) emissions                                     443 non-null    float64
 16  Total reported emissions from Onshore Oil & Gas Production _2019  449 non-null    float64
 17  CO2 emissions (non-biogenic) _2019                                448 non-null    float64
 18  Methane (CH4) emissions _2019                                     448 non-null    float64
 19  Nitrous Oxide (N2O) emissions _2019                               429 non-null    float64
 20  Total reported emissions from Onshore Oil & Gas Production _2018  419 non-null    float64
 21  CO2 emissions (non-biogenic) _2018                                417 non-null    float64
 22  Methane (CH4) emissions _2018                                     418 non-null    float64
 23  Nitrous Oxide (N2O) emissions _2018                               400 non-null    float64
 24  Total reported emissions from Onshore Oil & Gas Production _2017  379 non-null    float64
 25  CO2 emissions (non-biogenic) _2017                                379 non-null    float64
 26  Methane (CH4) emissions _2017                                     379 non-null    float64
 27  Nitrous Oxide (N2O) emissions _2017                               356 non-null    float64
 28  Total reported emissions from Onshore Oil & Gas Production _2016  345 non-null    float64
 29  CO2 emissions (non-biogenic) _2016                                345 non-null    float64
 30  Methane (CH4) emissions _2016                                     345 non-null    float64
 31  Nitrous Oxide (N2O) emissions _2016                               322 non-null    float64
 32  Total reported emissions from Onshore Oil & Gas Production _2015  323 non-null    float64
 33  CO2 emissions (non-biogenic) _2015                                323 non-null    float64
 34  Methane (CH4) emissions _2015                                     323 non-null    float64
 35  Nitrous Oxide (N2O) emissions _2015                               303 non-null    float64
 36  Total reported emissions from Onshore Oil & Gas Production _2014  296 non-null    float64
 37  CO2 emissions (non-biogenic) _2014                                296 non-null    float64
 38  Methane (CH4) emissions _2014                                     294 non-null    float64
 39  Nitrous Oxide (N2O) emissions _2014                               281 non-null    float64
 40  Total reported emissions from Onshore Oil & Gas Production _2013  262 non-null    float64
 41  CO2 emissions (non-biogenic) _2013                                262 non-null    float64
 42  Methane (CH4) emissions _2013                                     262 non-null    float64
 43  Nitrous Oxide (N2O) emissions _2013                               245 non-null    float64
 44  Total reported emissions from Onshore Oil & Gas Production _2012  237 non-null    float64
 45  CO2 emissions (non-biogenic) _2012                                237 non-null    float64
 46  Methane (CH4) emissions _2012                                     237 non-null    float64
 47  Nitrous Oxide (N2O) emissions _2012                               223 non-null    float64
 48  Total reported emissions from Onshore Oil & Gas Production _2011  214 non-null    float64
 49  CO2 emissions (non-biogenic) _2011                                214 non-null    float64
 50  Methane (CH4) emissions _2011                                     214 non-null    float64
 51  Nitrous Oxide (N2O) emissions _2011                               203 non-null    float64
dtypes: float64(43), int64(2), object(7)
memory usage: 193.8+ KB

In [106]:
df_oog.dropna(0,how='all',inplace=True)

In [107]:
df_oog.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 468 entries, 1000355 to 1013771
Data columns (total 52 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   FRS Id                                                            328 non-null    float64
 1   Facility Name                                                     468 non-null    object
 2   Basin                                                             459 non-null    object
 3   Reported City                                                     468 non-null    object
 4   Reported State                                                    468 non-null    object
 5   Reported Zip Code                                                 468 non-null    int64
 6   Reported Address                                                  463 non-null    object
 7   Reported County                                                   265 non-null    object
 8   Reported Latitude                                                 468 non-null    float64
 9   Reported Longitude                                                468 non-null    float64
 10  Primary NAICS Code                                                468 non-null    int64
 11  Industry Type (subparts)                                          468 non-null    object
 12  Total reported emissions from Onshore Oil & Gas Production        468 non-null    float64
 13  CO2 emissions (non-biogenic)                                      466 non-null    float64
 14  Methane (CH4) emissions                                           467 non-null    float64
 15  Nitrous Oxide (N2O) emissions                                     443 non-null    float64
 16  Total reported emissions from Onshore Oil & Gas Production _2019  449 non-null    float64
 17  CO2 emissions (non-biogenic) _2019                                448 non-null    float64
 18  Methane (CH4) emissions _2019                                     448 non-null    float64
 19  Nitrous Oxide (N2O) emissions _2019                               429 non-null    float64
 20  Total reported emissions from Onshore Oil & Gas Production _2018  419 non-null    float64
 21  CO2 emissions (non-biogenic) _2018                                417 non-null    float64
 22  Methane (CH4) emissions _2018                                     418 non-null    float64
 23  Nitrous Oxide (N2O) emissions _2018                               400 non-null    float64
 24  Total reported emissions from Onshore Oil & Gas Production _2017  379 non-null    float64
 25  CO2 emissions (non-biogenic) _2017                                379 non-null    float64
 26  Methane (CH4) emissions _2017                                     379 non-null    float64
 27  Nitrous Oxide (N2O) emissions _2017                               356 non-null    float64
 28  Total reported emissions from Onshore Oil & Gas Production _2016  345 non-null    float64
 29  CO2 emissions (non-biogenic) _2016                                345 non-null    float64
 30  Methane (CH4) emissions _2016                                     345 non-null    float64
 31  Nitrous Oxide (N2O) emissions _2016                               322 non-null    float64
 32  Total reported emissions from Onshore Oil & Gas Production _2015  323 non-null    float64
 33  CO2 emissions (non-biogenic) _2015                                323 non-null    float64
 34  Methane (CH4) emissions _2015                                     323 non-null    float64
 35  Nitrous Oxide (N2O) emissions _2015                               303 non-null    float64
 36  Total reported emissions from Onshore Oil & Gas Production _2014  296 non-null    float64
 37  CO2 emissions (non-biogenic) _2014                                296 non-null    float64
 38  Methane (CH4) emissions _2014                                     294 non-null    float64
 39  Nitrous Oxide (N2O) emissions _2014                               281 non-null    float64
 40  Total reported emissions from Onshore Oil & Gas Production _2013  262 non-null    float64
 41  CO2 emissions (non-biogenic) _2013                                262 non-null    float64
 42  Methane (CH4) emissions _2013                                     262 non-null    float64
 43  Nitrous Oxide (N2O) emissions _2013                               245 non-null    float64
 44  Total reported emissions from Onshore Oil & Gas Production _2012  237 non-null    float64
 45  CO2 emissions (non-biogenic) _2012                                237 non-null    float64
 46  Methane (CH4) emissions _2012                                     237 non-null    float64
 47  Nitrous Oxide (N2O) emissions _2012                               223 non-null    float64
 48  Total reported emissions from Onshore Oil & Gas Production _2011  214 non-null    float64
 49  CO2 emissions (non-biogenic) _2011                                214 non-null    float64
 50  Methane (CH4) emissions _2011                                     214 non-null    float64
 51  Nitrous Oxide (N2O) emissions _2011                               203 non-null    float64
dtypes: float64(43), int64(2), object(7)
memory usage: 193.8+ KB

In [24]:
df_oog.describe()

,FRS Id,Reported Zip Code,Reported Latitude,Reported Longitude,Primary NAICS Code,Total reported emissions from Onshore Oil & Gas Production,CO2 emissions (non-biogenic),Methane (CH4) emissions,Nitrous Oxide (N2O) emissions,Total reported emissions from Onshore Oil & Gas Production _2012,...,Methane (CH4) emissions _2018,Nitrous Oxide (N2O) emissions _2018,Total reported emissions from Onshore Oil & Gas Production _2019,CO2 emissions (non-biogenic) _2019,Methane (CH4) emissions _2019,Nitrous Oxide (N2O) emissions _2019,Total reported emissions from Onshore Oil & Gas Production _2020,CO2 emissions (non-biogenic) _2020,Methane (CH4) emissions _2020,Nitrous Oxide (N2O) emissions _2020
count,1.830000e+02,210.000000,210.000000,210.000000,210.000000,2.100000e+02,2.100000e+02,2.100000e+02,199.000000,2.320000e+02,...,4.180000e+02,400.000000,4.490000e+02,4.480000e+02,4.480000e+02,429.000000,4.680000e+02,4.660000e+02,4.670000e+02,443.000000
mean,1.100379e+11,72255.719048,35.657700,-98.905559,211158.619048,2.781532e+05,1.052024e+05,1.728423e+05,114.545809,2.654018e+05,...,1.000690e+05,149.978568,2.590456e+05,1.646404e+05,9.482577e+04,164.702402,1.997609e+05,1.187905e+05,8.153659e+04,122.197698
std,1.811801e+07,17880.845285,6.654899,11.333519,690.065559,5.059905e+05,1.637526e+05,4.224777e+05,188.332169,4.312539e+05,...,1.909046e+05,311.533115,4.132714e+05,3.303068e+05,1.872209e+05,423.614816,3.165285e+05,2.140498e+05,1.771384e+05,391.809531
min,1.100008e+11,15086.000000,26.198570,-151.753262,211111.000000,1.967300e+03,1.080000e+01,4.750000e+01,0.298000,7.564000e+02,...,1.850000e+01,0.178800,0.000000e+00,0.000000e+00,5.175000e+01,0.178800,0.000000e+00,0.000000e+00,2.450000e+01,0.298000
25%,1.100229e+11,73121.500000,29.983466,-102.615285,211111.000000,5.991777e+04,1.448052e+04,2.602956e+04,12.367000,6.438078e+04,...,1.384119e+04,16.911500,5.033973e+04,1.801830e+04,1.257912e+04,16.688000,4.372333e+04,1.338573e+04,1.013238e+04,11.473000
50%,1.100417e+11,77002.000000,35.468820,-96.829740,211111.000000,1.369653e+05,4.804720e+04,5.995350e+04,39.038000,1.274907e+05,...,3.918088e+04,54.534000,1.165947e+05,5.664305e+04,3.569612e+04,53.342000,9.605335e+04,4.219105e+04,3.215200e+04,37.548000
75%,1.100555e+11,79705.000000,39.742905,-95.370960,211111.000000,3.173349e+05,1.165024e+05,1.584326e+05,145.722000,2.900933e+05,...,1.017840e+05,144.306500,2.904509e+05,1.602652e+05,9.582125e+04,152.576000,2.194286e+05,1.200500e+05,8.692550e+04,108.919000
max,1.100677e+11,99734.000000,70.508111,-77.001065,221111.000000,6.181128e+06,1.204406e+06,5.329691e+06,1461.988000,5.020111e+06,...,2.321394e+06,4016.712200,3.322124e+06,3.200349e+06,2.303916e+06,7015.486200,3.221437e+06,1.617444e+06,2.237982e+06,7278.203000

In [85]:
df_de = data10_de.merge(data9_de['Total reported direct emissions'], on='Facility Id', how='left', suffixes=('','_2019'))
df_de = df_de.merge(data8_de['Total reported direct emissions'], on='Facility Id', how='left', suffixes=('','_2018'))
df_de = df_de.merge(data7_de['Total reported direct emissions'], on='Facility Id', how='left', suffixes=('','_2017'))
df_de = df_de.merge(data6_de['Total reported direct emissions'], on='Facility Id', how='left', suffixes=('','_2016'))
df_de = df_de.merge(data5_de['Total reported direct emissions'], on='Facility Id', how='left', suffixes=('','_2015'))
df_de = df_de.merge(data4_de['Total reported direct emissions'], on='Facility Id', how='left', suffixes=('','_2014'))
df_de = df_de.merge(data3_de['Total reported direct emissions'], on='Facility Id', how='left', suffixes=('','_2013'))
df_de = df_de.merge(data2_de['Total reported direct emissions'], on='Facility Id', how='left', suffixes=('','_2012'))
df_de = df_de.merge(data1_de['Total reported direct emissions'], on='Facility Id', how='left', suffixes=('','_2011'))

In [86]:
#Count of missing values in df_de by columns

missing = pd.concat([df_de.isnull().sum(), 100 * df_de.isnull().mean()], axis=1)
missing.columns=["count", "%"]
missing.sort_values(by='count',ascending = False)

                                      count          %
Total reported direct emissions_2011   1130  17.344589
Total reported direct emissions_2012   1003  15.395242
Total reported direct emissions_2013    863  13.246355
Total reported direct emissions_2014    708  10.867229
Total reported direct emissions_2015    620   9.516500
Total reported direct emissions_2016    532   8.165771
Address                                 477   7.321566
Total reported direct emissions_2017    438   6.722947
Total reported direct emissions_2018    276   4.236378
County                                  254   3.898695
Total reported direct emissions_2019    115   1.765157
FRS Id                                  110   1.688411
Total reported direct emissions           0   0.000000
Facility Name                             0   0.000000
Industry Type (subparts)                  0   0.000000
Primary NAICS Code                        0   0.000000
Longitude                                 0   0.000000
Latitude                                  0   0.000000
Zip Code                                  0   0.000000
State                                     0   0.000000
City                                      0   0.000000
Industry Type (sectors)                   0   0.000000

In [28]:
#categorical features
df_de.select_dtypes('object')

,Facility Name,City,State,Address,County,Industry Type (subparts),Industry Type (sectors)
Facility Id,,,,,,,
1004377,121 REGIONAL DISPOSAL FACILITY,MELISSA,TX,3820 SAM RAYBURN HIGHWAY,COLLIN COUNTY,HH,Waste
1000112,23rd and 3rd,BROOKLYN,NY,730 3rd Avenue,Kings,"C,D",Power Plants
1013621,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003742,31st Street Landfill,WESTCHESTER,IL,11700 W 31ST ST,DUPAGE,HH,Waste
1003188,3M BROWNWOOD,BROWNWOOD,TX,4501 HIGHWAY 377 SOUTH,BROWN COUNTY,"C,N",Minerals
...,...,...,...,...,...,...,...
1010592,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000805,Zion Energy Center,ZION,IL,5701 NINTH ST,Lake,"C,D",Power Plants
1001464,Zuni,DENVER,CO,1335 ZUNI ST,Denver,D,Power Plants
1012625,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1011696,white oak landfill,waynesville,NC,3898 fines creek rd,HAYWOOD COUNTY,"C,HH",Waste

In [87]:
(df_de['Facility Name']+', '+df_de['City']+', '+df_de['State']+', '+df_de['Address']).value_counts().head()

Walton County Power, LLC, MONROE, GA, 920 BIRCH ST                          1
ANR Pipeline Maitland CS, MAITLAND, MO, 33854 COUNTY HIGHWAY TT             1
NORTHWESTERN UNIVERSITY CHICAGO CAMPUS, CHICAGO, IL, 410 E HURON            1
SALINA MUNICIPAL SOLID WASTE LANDFILL, SALINA, KS, 4292 SOUTH BURMA ROAD    1
SNF Holding Company, RICEBORO, GA, One CHEMICAL PLANT RD                    1
dtype: int64

In [88]:
(df_de['Facility Name']+', '+df_de['City']+', '+df_de['State']+', '+df_de['Address']).value_counts().sort_values()

Walton County Power, LLC, MONROE, GA, 920 BIRCH ST                     1
BASIC AMERICAN FOODS, BLACKFOOT, ID, 415 W. COLLINS RD.                1
Qorvo Texas LLC, Richardson, TX, 500 W Renner Road                     1
CAROLINA STALITE COMPANY, GOLD HILL, NC, 16815 OLD BEATTYS FORD RD.    1
ALLISON GAS PLANT, Allison, TX, 16298 Co. Rd. EE                       1
                                                                      ..
NPCA COMBUSTION TURBINE PROJECT #2, LODI, CA, 12745 N THORNTON RD      1
NUCOR STEEL - UTAH, PLYMOUTH, UT, 7285 W 21200 N                       1
V H Braunig, ELMENDORF, TX, 15290 STREICH RD                           1
Winyah, GEORGETOWN, SC, 661 STEAM PLANT DRIVE                          1
FCA Detroit Assembly Complex - Mack, Detroit, MI, 4000 St Jean         1
Length: 6038, dtype: int64

In [89]:
df_de['County'].value_counts()

JEFFERSON COUNTY      89
HARRIS COUNTY         85
WASHINGTON COUNTY     48
LOS ANGELES COUNTY    44
MONTGOMERY COUNTY     43
                      ..
Craighead              1
Cerro Gordo            1
ST. JOHNS COUNTY       1
LENAWEE COUNTY         1
Ross                   1
Name: County, Length: 1772, dtype: int64

In [90]:
df_de['State'].value_counts()

TX    813
LA    414
CA    376
PA    280
OH    255
IL    233
MI    214
NY    204
IN    191
FL    173
AL    172
OK    169
GA    164
IA    152
KY    134
VA    133
MN    131
WI    129
NC    125
WV    118
TN    118
CO    112
MO    107
MS    106
KS    104
AR     99
SC     98
WA     90
AZ     89
NM     87
NJ     87
NE     72
MA     69
WY     68
UT     65
AK     63
ND     62
MD     58
OR     58
CT     40
NV     39
ID     37
SD     36
HI     28
MT     28
ME     28
PR     20
DE     19
NH     17
RI     10
GU      8
VT      5
DC      4
VI      4
Name: State, dtype: int64

In [91]:
df_de.isnull().sum(axis=0)

FRS Id                                   110
Facility Name                              0
City                                       0
State                                      0
Zip Code                                   0
Address                                  477
County                                   254
Latitude                                   0
Longitude                                  0
Primary NAICS Code                         0
Industry Type (subparts)                   0
Industry Type (sectors)                    0
Total reported direct emissions            0
Total reported direct emissions_2019     115
Total reported direct emissions_2018     276
Total reported direct emissions_2017     438
Total reported direct emissions_2016     532
Total reported direct emissions_2015     620
Total reported direct emissions_2014     708
Total reported direct emissions_2013     863
Total reported direct emissions_2012    1003
Total reported direct emissions_2011    1130
dtype: int64

In [92]:
df_de.shape

(6515, 22)

In [34]:
df_de_1 = df_de.dropna(axis=0)

In [35]:
df_de_1.isnull().sum(axis=1)

Facility Id
1004377    0
1000112    0
1003742    0
1003188    0
1003739    0
          ..
1003318    0
1001308    0
1000805    0
1001464    0
1011696    0
Length: 4985, dtype: int64

In [36]:
df_oog['Reported State'].value_counts()

TX    93
OK    35
CO    31
PA    14
MI     8
CA     7
AK     5
UT     3
NM     3
ND     2
WY     2
AR     2
MS     2
WV     1
LA     1
MT     1
Name: Reported State, dtype: int64

In [37]:
df_ldc['Reported State'].value_counts()

TX    17
IN    12
NY     8
VA     6
IA     6
TN     5
NC     5
MA     5
IL     5
MO     5
PA     5
NJ     4
WI     4
CT     4
FL     4
AL     4
MI     3
CA     3
OH     3
NV     3
MT     3
WV     2
KS     2
LA     2
MN     2
MD     2
KY     2
OR     2
DE     2
WA     2
AZ     2
SC     1
GA     1
NM     1
AR     1
MS     1
NE     1
CO     1
OK     1
UT     1
RI     1
Name: Reported State, dtype: int64

In [38]:
df_sf6['Reported State'].value_counts()

CA    9
TX    7
WA    4
NY    4
FL    3
AZ    3
OH    3
MN    2
PA    2
IA    2
MI    2
NV    2
KY    2
GA    1
MO    1
TN    1
KS    1
IL    1
VT    1
MA    1
NC    1
IN    1
CO    1
PR    1
NE    1
HI    1
VA    1
UT    1
OR    1
OK    1
NM    1
Name: Reported State, dtype: int64

In [39]:
df_de.columns

Index(['FRS Id', 'Facility Name', 'City', 'State', 'Zip Code', 'Address',
       'County', 'Latitude', 'Longitude', 'Primary NAICS Code',
       'Industry Type (subparts)', 'Industry Type (sectors)',
       'Total reported direct emissions',
       'Total reported direct emissions_2012',
       'Total reported direct emissions_2013',
       'Total reported direct emissions_2014',
       'Total reported direct emissions_2015',
       'Total reported direct emissions_2016',
       'Total reported direct emissions_2017',
       'Total reported direct emissions_2018',
       'Total reported direct emissions_2019',
       'Total reported direct emissions_2020'],
      dtype='object')

In [40]:
df_sf6.columns

Index(['FRS Id', 'Facility Name', 'Reported City', 'Reported State',
       'Reported Zip Code', 'Reported Address', 'Reported County',
       'Reported Latitude', 'Reported Longitude', 'Primary NAICS Code',
       'Industry Type (subparts)',
       'Total reported direct emissions from Electrical Equipment Use',
       'SF6 emissions ',
       'Total reported direct emissions from Electrical Equipment Use_2012',
       'SF6 emissions _2012',
       'Total reported direct emissions from Electrical Equipment Use_2013',
       'SF6 emissions _2013',
       'Total reported direct emissions from Electrical Equipment Use_2014',
       'SF6 emissions _2014',
       'Total reported direct emissions from Electrical Equipment Use_2015',
       'SF6 emissions _2015',
       'Total reported direct emissions from Electrical Equipment Use_2016',
       'SF6 emissions _2016',
       'Total reported direct emissions from Electrical Equipment Use_2017',
       'SF6 emissions _2017',
       'Total reported direct emissions from Electrical Equipment Use_2018',
       'SF6 emissions _2018',
       'Total reported direct emissions from Electrical Equipment Use_2019',
       'SF6 emissions _2019',
       'Total reported direct emissions from Electrical Equipment Use_2020',
       'SF6 emissions _2020'],
      dtype='object')

In [41]:
df_ldc.columns

Index(['FRS Id', 'Facility Name', 'State where Emissions Occur',
       'Reported City', 'Reported State', 'Reported Zip Code',
       'Reported Address', 'Reported County', 'Reported Latitude',
       'Reported Longitude', 'Primary NAICS Code', 'Industry Type (subparts)',
       'Total reported direct emissions from Local Distribution Companies',
       'Total reported direct emissions from Local Distribution Companies_2012',
       'Total reported direct emissions from Local Distribution Companies_2013',
       'Total reported direct emissions from Local Distribution Companies_2014',
       'Total reported direct emissions from Local Distribution Companies_2015',
       'Total reported direct emissions from Local Distribution Companies_2016',
       'Total reported direct emissions from Local Distribution Companies_2017',
       'Total reported direct emissions from Local Distribution Companies_2018',
       'Total reported direct emissions from Local Distribution Companies_2019',
       'Total reported direct emissions from Local Distribution Companies_2020'],
      dtype='object')

In [42]:
df_oog.columns

Index(['FRS Id', 'Facility Name', 'Basin', 'Reported City', 'Reported State',
       'Reported Zip Code', 'Reported Address', 'Reported County',
       'Reported Latitude', 'Reported Longitude', 'Primary NAICS Code',
       'Industry Type (subparts)',
       'Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ',
       'Total reported emissions from Onshore Oil & Gas Production _2012',
       'CO2 emissions (non-biogenic) _2012', 'Methane (CH4) emissions _2012',
       'Nitrous Oxide (N2O) emissions _2012',
       'Total reported emissions from Onshore Oil & Gas Production _2013',
       'CO2 emissions (non-biogenic) _2013', 'Methane (CH4) emissions _2013',
       'Nitrous Oxide (N2O) emissions _2013',
       'Total reported emissions from Onshore Oil & Gas Production _2014',
       'CO2 emissions (non-biogenic) _2014', 'Methane (CH4) emissions _2014',
       'Nitrous Oxide (N2O) emissions _2014',
       'Total reported emissions from Onshore Oil & Gas Production _2015',
       'CO2 emissions (non-biogenic) _2015', 'Methane (CH4) emissions _2015',
       'Nitrous Oxide (N2O) emissions _2015',
       'Total reported emissions from Onshore Oil & Gas Production _2016',
       'CO2 emissions (non-biogenic) _2016', 'Methane (CH4) emissions _2016',
       'Nitrous Oxide (N2O) emissions _2016',
       'Total reported emissions from Onshore Oil & Gas Production _2017',
       'CO2 emissions (non-biogenic) _2017', 'Methane (CH4) emissions _2017',
       'Nitrous Oxide (N2O) emissions _2017',
       'Total reported emissions from Onshore Oil & Gas Production _2018',
       'CO2 emissions (non-biogenic) _2018', 'Methane (CH4) emissions _2018',
       'Nitrous Oxide (N2O) emissions _2018',
       'Total reported emissions from Onshore Oil & Gas Production _2019',
       'CO2 emissions (non-biogenic) _2019', 'Methane (CH4) emissions _2019',
       'Nitrous Oxide (N2O) emissions _2019',
       'Total reported emissions from Onshore Oil & Gas Production _2020',
       'CO2 emissions (non-biogenic) _2020', 'Methane (CH4) emissions _2020',
       'Nitrous Oxide (N2O) emissions _2020'],
      dtype='object')

In [66]:
datasets = (df_de,df_sf6,df_oog,df_ldc)
len(datasets)

4

In [71]:
for df in datasets:
    print(df.shape)

(6515, 22)
(89, 31)
(468, 52)
(164, 22)

In [72]:
df_de.describe()

,FRS Id,Zip Code,Latitude,Longitude,Primary NAICS Code,Total reported direct emissions,Total reported direct emissions_2012,Total reported direct emissions_2013,Total reported direct emissions_2014,Total reported direct emissions_2015,Total reported direct emissions_2016,Total reported direct emissions_2017,Total reported direct emissions_2018,Total reported direct emissions_2019,Total reported direct emissions_2020
count,5.279000e+03,5292.000000,5292.000000,5292.000000,5292.000000,5.292000e+03,5.418000e+03,5.557000e+03,5.713000e+03,5.816000e+03,5.932000e+03,6.062000e+03,6.233000e+03,6.400000e+03,6.515000e+03
mean,1.100198e+11,53619.293084,37.587510,-92.592934,365323.990741,5.421853e+05,5.153421e+05,5.078355e+05,4.989452e+05,4.728548e+05,4.510686e+05,4.324735e+05,4.356654e+05,4.064988e+05,3.684321e+05
std,2.066964e+07,27085.204474,5.937598,15.641830,144369.083749,1.658999e+06,1.531518e+06,1.552709e+06,1.525598e+06,1.392904e+06,1.340321e+06,1.321672e+06,1.306023e+06,1.190894e+06,1.064542e+06
min,1.100003e+11,0.000000,13.394900,-166.551311,111419.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.196250e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.100009e+11,32166.250000,33.356875,-97.590603,221112.000000,4.266365e+04,4.163786e+04,3.945129e+04,3.844640e+04,3.753093e+04,3.544707e+04,3.478025e+04,3.531697e+04,3.455003e+04,3.126729e+04
50%,1.100121e+11,54462.000000,38.181850,-89.865538,325193.000000,8.291325e+04,7.949012e+04,7.614725e+04,7.488075e+04,7.391405e+04,7.163294e+04,6.863059e+04,7.145249e+04,6.846661e+04,6.320322e+04
75%,1.100390e+11,76801.000000,41.398783,-82.493762,486210.000000,2.447105e+05,2.447289e+05,2.246353e+05,2.179119e+05,2.131120e+05,2.067839e+05,1.945020e+05,2.030414e+05,1.909433e+05,1.794937e+05
max,1.100702e+11,99801.000000,71.292071,144.707100,928110.000000,2.207365e+07,2.181556e+07,2.229333e+07,2.048246e+07,1.924705e+07,1.973314e+07,2.079817e+07,1.842964e+07,1.916974e+07,1.723290e+07

In [73]:
df_de.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6515 entries, 1004377 to 1011696
Data columns (total 22 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   FRS Id                                5279 non-null   float64
 1   Facility Name                         5292 non-null   object
 2   City                                  5292 non-null   object
 3   State                                 5292 non-null   object
 4   Zip Code                              5292 non-null   float64
 5   Address                               4995 non-null   object
 6   County                                5226 non-null   object
 7   Latitude                              5292 non-null   float64
 8   Longitude                             5292 non-null   float64
 9   Primary NAICS Code                    5292 non-null   float64
 10  Industry Type (subparts)              5292 non-null   object
 11  Industry Type (sectors)               5292 non-null   object
 12  Total reported direct emissions       5292 non-null   float64
 13  Total reported direct emissions_2012  5418 non-null   float64
 14  Total reported direct emissions_2013  5557 non-null   float64
 15  Total reported direct emissions_2014  5713 non-null   float64
 16  Total reported direct emissions_2015  5816 non-null   float64
 17  Total reported direct emissions_2016  5932 non-null   float64
 18  Total reported direct emissions_2017  6062 non-null   float64
 19  Total reported direct emissions_2018  6233 non-null   float64
 20  Total reported direct emissions_2019  6400 non-null   float64
 21  Total reported direct emissions_2020  6515 non-null   float64
dtypes: float64(15), object(7)
memory usage: 1.1+ MB

In [74]:
df_de.isnull().any()

FRS Id                                   True
Facility Name                            True
City                                     True
State                                    True
Zip Code                                 True
Address                                  True
County                                   True
Latitude                                 True
Longitude                                True
Primary NAICS Code                       True
Industry Type (subparts)                 True
Industry Type (sectors)                  True
Total reported direct emissions          True
Total reported direct emissions_2012     True
Total reported direct emissions_2013     True
Total reported direct emissions_2014     True
Total reported direct emissions_2015     True
Total reported direct emissions_2016     True
Total reported direct emissions_2017     True
Total reported direct emissions_2018     True
Total reported direct emissions_2019     True
Total reported direct emissions_2020    False
dtype: bool

In [75]:
df_oog.isnull().any()

FRS Id                                                               True
Facility Name                                                        True
Basin                                                                True
Reported City                                                        True
Reported State                                                       True
Reported Zip Code                                                    True
Reported Address                                                     True
Reported County                                                      True
Reported Latitude                                                    True
Reported Longitude                                                   True
Primary NAICS Code                                                   True
Industry Type (subparts)                                             True
Total reported emissions from Onshore Oil & Gas Production           True
CO2 emissions (non-biogenic)                                         True
Methane (CH4) emissions                                              True
Nitrous Oxide (N2O) emissions                                        True
Total reported emissions from Onshore Oil & Gas Production _2012     True
CO2 emissions (non-biogenic) _2012                                   True
Methane (CH4) emissions _2012                                        True
Nitrous Oxide (N2O) emissions _2012                                  True
Total reported emissions from Onshore Oil & Gas Production _2013     True
CO2 emissions (non-biogenic) _2013                                   True
Methane (CH4) emissions _2013                                        True
Nitrous Oxide (N2O) emissions _2013                                  True
Total reported emissions from Onshore Oil & Gas Production _2014     True
CO2 emissions (non-biogenic) _2014                                   True
Methane (CH4) emissions _2014                                        True
Nitrous Oxide (N2O) emissions _2014                                  True
Total reported emissions from Onshore Oil & Gas Production _2015     True
CO2 emissions (non-biogenic) _2015                                   True
Methane (CH4) emissions _2015                                        True
Nitrous Oxide (N2O) emissions _2015                                  True
Total reported emissions from Onshore Oil & Gas Production _2016     True
CO2 emissions (non-biogenic) _2016                                   True
Methane (CH4) emissions _2016                                        True
Nitrous Oxide (N2O) emissions _2016                                  True
Total reported emissions from Onshore Oil & Gas Production _2017     True
CO2 emissions (non-biogenic) _2017                                   True
Methane (CH4) emissions _2017                                        True
Nitrous Oxide (N2O) emissions _2017                                  True
Total reported emissions from Onshore Oil & Gas Production _2018     True
CO2 emissions (non-biogenic) _2018                                   True
Methane (CH4) emissions _2018                                        True
Nitrous Oxide (N2O) emissions _2018                                  True
Total reported emissions from Onshore Oil & Gas Production _2019     True
CO2 emissions (non-biogenic) _2019                                   True
Methane (CH4) emissions _2019                                        True
Nitrous Oxide (N2O) emissions _2019                                  True
Total reported emissions from Onshore Oil & Gas Production _2020    False
CO2 emissions (non-biogenic) _2020                                   True
Methane (CH4) emissions _2020                                        True
Nitrous Oxide (N2O) emissions _2020                                  True
dtype: bool