In [1]:
#importing the libraries

import pandas as pd
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
#reading the 2010 data which just had 1 sheet of data

data = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2010.xlsx',skiprows=3,index_col=0)

In [3]:
#generating the profile report for 2010 data
profile = ProfileReport(data, title = "Pandas Profiling Report")

In [4]:
#displaying the profile report
profile.to_widgets()

Summarize dataset:   0%|          | 0/66 [00:00<?, ?it/s]

C:\Users\Radhai\anaconda3\lib\site-packages\pandas_profiling\model\correlations.py:146: UserWarning: There was an attempt to calculate the cramers correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"cramers": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/pandas-profiling/pandas-profiling/issues
(include the error message: 'No data; `observed` has size 0.')
  warnings.warn(
C:\Users\Radhai\anaconda3\lib\site-packages\missingno\missingno.py:250: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax1.set_xticklabels(ax1.get_xticklabels(), rotation=45, ha='right', fontsize=fontsize)
C:\Users\Radhai\anaconda3\lib\site-packages\pandas_profiling\model\summary.py:194: UserWarning: There was an attempt to generate the bar missing values diagrams, but this failed.
    To hide this warning, disable the calculation
    (using `df.profile_report(missing_diagrams={"bar": False}`)
    If this is problematic for your use case, please report this as an issue:
    https://github.com/pandas-profiling/pandas-profiling/issues
    (include the error message: 'The number of FixedLocator locations (7), usually from a call to set_ticks, does not match the number of ticklabels (53).')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [4]:
#13th column has the total emission by each facility for the year 2010 and the rest of the columns does not have 
#significant data and most of them null as per the profile report
df=data.iloc[:,0:13]

In [6]:
#generating profile report for this subset of data
profile_df = ProfileReport(df, title = "Pandas Profiling Report - Direct Emissions")

In [7]:
profile_df.to_widgets()

Summarize dataset:   0%|          | 0/27 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [5]:
#read the direct emitters data for the years 2011-2020
data1_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2011.xlsx',skiprows=3,index_col=0,usecols="A:N",)
data2_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2012.xlsx',skiprows=3,index_col=0,usecols="A:N")
data3_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2013.xlsx',skiprows=3,index_col=0,usecols="A:N")
data4_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2014.xlsx',skiprows=3,index_col=0,usecols="A:N")
data5_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2015.xlsx',skiprows=3,index_col=0,usecols="A:N")
data6_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2016.xlsx',skiprows=3,index_col=0,usecols="A:N")
data7_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2017.xlsx',skiprows=3,index_col=0,usecols="A:N")
data8_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2018.xlsx',skiprows=3,index_col=0,usecols="A:N")
data9_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2019.xlsx',skiprows=3,index_col=0,usecols="A:N")
data10_de = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2020.xlsx',skiprows=3,index_col=0,usecols="A:N")

In [6]:
#reading the emission data from onshore oil and gas production for the years 2011 to 2020

data1_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2011.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data2_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2012.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data3_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2013.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data4_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2014.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data5_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2015.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data6_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2016.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data7_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2017.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data8_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2018.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data9_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2019.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)
data10_oog = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2020.xlsx',skiprows=3,index_col=0,usecols="A:Q",sheet_name= 1)

In [7]:
#reading the emission data from LDC- direct emissions for the years 2011 to 2020

data1_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2011.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 2)
data2_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2012.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 2)
data3_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2013.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 2)
data4_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2014.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 2)
data5_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2015.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 2)
data6_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2016.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 4)
data7_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2017.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 4)
data8_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2018.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 4)
data9_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2019.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 4)
data10_ldc = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2020.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 4)

In [8]:
#reading the emission data from SF6 from electric emissions for the years 2011 to 2020

data1_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2011.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 3)
data2_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2012.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 3)
data3_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2013.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 3)
data4_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2014.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 3)
data5_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2015.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 3)
data6_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2016.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 5)
data7_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2017.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 5)
data8_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2018.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 5)
data9_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2019.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 5)
data10_sf6 = pd.read_excel('./2020_data_summary_spreadsheets/ghgp_data_2020.xlsx',skiprows=3,index_col=0,usecols="A:N",sheet_name= 5)

In [9]:
df_sf6 = data10_sf6.merge(data9_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='left',suffixes = ('','_2019'))
df_sf6 = df_sf6.merge(data8_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='left',suffixes=('','_2018'))
df_sf6 = df_sf6.merge(data7_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='left',suffixes=('','_2017'))
df_sf6 = df_sf6.merge(data6_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='left',suffixes=('','_2016'))
df_sf6 = df_sf6.merge(data5_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='left',suffixes=('','_2015'))
df_sf6 = df_sf6.merge(data4_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='left',suffixes=('','_2014'))
df_sf6 = df_sf6.merge(data3_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='left',suffixes=('','_2013'))
df_sf6 = df_sf6.merge(data2_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='left',suffixes=('','_2012'))
df_sf6 = df_sf6.merge(data1_sf6[['Total reported direct emissions from Electrical Equipment Use','SF6 emissions ']], on = 'Facility Id', how='left',suffixes=('','_2011'))

In [10]:
df_sf6.head()

,FRS Id,Facility Name,Reported City,Reported State,Reported Zip Code,Reported Address,Reported County,Reported Latitude,Reported Longitude,Primary NAICS Code,...,Total reported direct emissions from Electrical Equipment Use_2015,SF6 emissions _2015,Total reported direct emissions from Electrical Equipment Use_2014,SF6 emissions _2014,Total reported direct emissions from Electrical Equipment Use_2013,SF6 emissions _2013,Total reported direct emissions from Electrical Equipment Use_2012,SF6 emissions _2012,Total reported direct emissions from Electrical Equipment Use_2011,SF6 emissions _2011
Facility Id,,,,,,,,,,,,,,,,,,,,,
1003708,1.100006e+11,AEP Corporate SF6 Emissions,Columbus,OH,43215,1 Riverside Plaza,WASHINGTON COUNTY,39.588493,-81.682523,221112,...,148364.16,148364.16,124825.44,124825.44,134433.36,134433.36,88826.52,88826.52,123781.20,123781.20
1010811,1.100107e+11,Ameren Illinois Electric,Peoria,IL,61602,300 Liberty Street,PEORIA COUNTY,40.690480,-89.592440,221122,...,10488.00,10488.00,20241.84,20241.84,28244.64,28244.64,91298.04,91298.04,11251.80,11251.80
1010812,1.100118e+11,Ameren Missouri Electric,St. Louis,MO,63103,1901 Chouteau Avenue,ST. LOUIS CITY,38.620785,-90.211635,221122,...,5492.52,5492.52,35928.24,35928.24,13025.64,13025.64,14322.96,14322.96,31703.40,31703.40
1010076,1.100555e+11,Anaheim Electric Distribution System,Anaheim,CA,92805,"201 S. Anaheim Blvd., MS-1101",ORANGE COUNTY,33.834580,-117.914010,221122,...,2975.40,2975.40,1876.44,1876.44,7685.88,7685.88,7986.84,7986.84,6513.96,6513.96
1009780,1.100118e+11,Arizona Public Service Company,Phoenix,AZ,85021,2124 W. Cheryl Ave.,MARICOPA COUNTY,33.578425,-112.104408,221121,...,54697.20,54697.20,38876.28,38876.28,14033.40,14033.40,4190.64,4190.64,36288.48,36288.48

In [11]:
df_sf6.columns

Index(['FRS Id', 'Facility Name', 'Reported City', 'Reported State',
       'Reported Zip Code', 'Reported Address', 'Reported County',
       'Reported Latitude', 'Reported Longitude', 'Primary NAICS Code',
       'Industry Type (subparts)',
       'Total reported direct emissions from Electrical Equipment Use',
       'SF6 emissions ',
       'Total reported direct emissions from Electrical Equipment Use_2019',
       'SF6 emissions _2019',
       'Total reported direct emissions from Electrical Equipment Use_2018',
       'SF6 emissions _2018',
       'Total reported direct emissions from Electrical Equipment Use_2017',
       'SF6 emissions _2017',
       'Total reported direct emissions from Electrical Equipment Use_2016',
       'SF6 emissions _2016',
       'Total reported direct emissions from Electrical Equipment Use_2015',
       'SF6 emissions _2015',
       'Total reported direct emissions from Electrical Equipment Use_2014',
       'SF6 emissions _2014',
       'Total reported direct emissions from Electrical Equipment Use_2013',
       'SF6 emissions _2013',
       'Total reported direct emissions from Electrical Equipment Use_2012',
       'SF6 emissions _2012',
       'Total reported direct emissions from Electrical Equipment Use_2011',
       'SF6 emissions _2011'],
      dtype='object')

In [16]:
df_sf6.columns = ['FRD_id', 'Facility_Name', 'City', 'State',
       'Zip_Code', 'Address', 'County',
       'Latitude', 'Longitude', 'Primary_NAICS_Code',
       'IT_subparts',
       'Total_de_EE_2020',
       'SF6_emissions_2020 ',
       'Total_de_EE_2019',
       'SF6_emissions_2019',
       'Total_de_EE_2018',
       'SF6_emissions_2018',
       'Total_de_EE_2017',
       'SF6_emissions_2017',
       'Total_de_EE_2016',
       'SF6_emissions_2016',
       'Total_de_EE_2015',
       'SF6_emissions_2015',
       'Total_de_EE_2014',
       'SF6_emissions_2014',
       'Total_de_EE_2013',
       'SF6_emissions_2013',
       'Total_de_EE_2012',
       'SF6_emissions_2012',
       'Total_de_EE_2011',
       'SF6_emissions_2011']

In [13]:
data1_ldc.columns

Index(['FRS Id', 'Facility Name', 'State where Emissions Occur',
       'Reported City', 'Reported State', 'Reported Zip Code',
       'Reported Address', 'Reported County', 'Reported Latitude',
       'Reported Longitude', 'Primary NAICS Code', 'Industry Type (subparts)',
       'Total reported direct emissions from Local Distribution Companies'],
      dtype='object')

In [14]:
df_ldc = data10_ldc.merge(data9_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='left',suffixes = ('','_2019'))
df_ldc = df_ldc.merge(data8_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='left',suffixes=('','_2018'))
df_ldc = df_ldc.merge(data7_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='left',suffixes=('','_2017'))
df_ldc = df_ldc.merge(data6_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='left',suffixes=('','_2016'))
df_ldc = df_ldc.merge(data5_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='left',suffixes=('','_2015'))
df_ldc = df_ldc.merge(data4_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='left',suffixes=('','_2014'))
df_ldc = df_ldc.merge(data3_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='left',suffixes=('','_2013'))
df_ldc = df_ldc.merge(data2_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='left',suffixes=('','_2012'))
df_ldc = df_ldc.merge(data1_ldc['Total reported direct emissions from Local Distribution Companies'], on = 'Facility Id', how='left',suffixes=('','_2011'))

In [15]:
df_ldc.columns

Index(['FRS Id', 'Facility Name', 'State where Emissions Occur',
       'Reported City', 'Reported State', 'Reported Zip Code',
       'Reported Address', 'Reported County', 'Reported Latitude',
       'Reported Longitude', 'Primary NAICS Code', 'Industry Type (subparts)',
       'Total reported direct emissions from Local Distribution Companies',
       'Total reported direct emissions from Local Distribution Companies_2019',
       'Total reported direct emissions from Local Distribution Companies_2018',
       'Total reported direct emissions from Local Distribution Companies_2017',
       'Total reported direct emissions from Local Distribution Companies_2016',
       'Total reported direct emissions from Local Distribution Companies_2015',
       'Total reported direct emissions from Local Distribution Companies_2014',
       'Total reported direct emissions from Local Distribution Companies_2013',
       'Total reported direct emissions from Local Distribution Companies_2012',
       'Total reported direct emissions from Local Distribution Companies_2011'],
      dtype='object')

In [26]:
df_ldc.columns = ['FRS_Id', 'Facility_Name', 'State_where_Emissions_Occur',
       'City', 'State', 'Zip_Code',
       'Address', 'County', 'Latitude',
       'Longitude', 'Primary_NAICS_Code', 'IT_subparts',
       'Total_rep_de_ldc_2020',
       'Total_rep_de_ldc_2019',
       'Total_rep_de_ldc_2018',
       'Total_rep_de_ldc_2017',
       'Total_rep_de_ldc_2016',
       'Total_rep_de_ldc_2015',
       'Total_rep_de_ldc_2014',
       'Total_rep_de_ldc_2013',
       'Total_rep_de_ldc_2012',
       'Total_rep_de_ldc_2011']
df_ldc.columns

Index(['FRS_Id', 'Facility_Name', 'State_where_Emissions_Occur', 'City',
       'State', 'Zip_Code', 'Address', 'County', 'Latitude', 'Longitude',
       'Primary_NAICS_Code', 'IT_subparts', 'Total_rep_de_ldc_2020',
       'Total_rep_de_ldc_2019', 'Total_rep_de_ldc_2018',
       'Total_rep_de_ldc_2017', 'Total_rep_de_ldc_2016',
       'Total_rep_de_ldc_2015', 'Total_rep_de_ldc_2014',
       'Total_rep_de_ldc_2013', 'Total_rep_de_ldc_2012',
       'Total_rep_de_ldc_2011'],
      dtype='object')

In [21]:
data1_oog.columns

Index(['FRS Id', 'Facility Name', 'Basin', 'Reported City', 'Reported State',
       'Reported Zip Code', 'Reported Address', 'Reported County',
       'Reported Latitude', 'Reported Longitude', 'Primary NAICS Code',
       'Industry Type (subparts)',
       'Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions '],
      dtype='object')

In [22]:
df_oog = data10_oog.merge(data9_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='left',suffixes = ('','_2019'))
df_oog = df_oog.merge(data8_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='left',suffixes = ('','_2018'))
df_oog = df_oog.merge(data7_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='left',suffixes=('','_2017'))
df_oog = df_oog.merge(data6_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='left',suffixes=('','_2016'))
df_oog = df_oog.merge(data5_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='left',suffixes=('','_2015'))
df_oog = df_oog.merge(data4_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='left',suffixes=('','_2014'))
df_oog = df_oog.merge(data3_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='left',suffixes=('','_2013'))
df_oog = df_oog.merge(data2_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='left',suffixes=('','_2012'))
df_oog = df_oog.merge(data1_oog[['Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ']], on = 'Facility Id', how='left',suffixes=('','_2011'))

In [27]:
df_oog.head(10)

,FRS Id,Facility Name,Basin,Reported City,Reported State,Reported Zip Code,Reported Address,Reported County,Reported Latitude,Reported Longitude,...,Methane (CH4) emissions _2013,Nitrous Oxide (N2O) emissions _2013,Total reported emissions from Onshore Oil & Gas Production _2012,CO2 emissions (non-biogenic) _2012,Methane (CH4) emissions _2012,Nitrous Oxide (N2O) emissions _2012,Total reported emissions from Onshore Oil & Gas Production _2011,CO2 emissions (non-biogenic) _2011,Methane (CH4) emissions _2011,Nitrous Oxide (N2O) emissions _2011
Facility Id,,,,,,,,,,,,,,,,,,,,,
1000355,1.100030e+11,#540 BONANZA CREEK ENERGY - DENVER BASIN,540 - Denver Basin,Denver,CO,80202,"410 17th Street, Suite 1500",DENVER COUNTY,39.744310,-104.988580,...,103953.50,44.700,151519.070,68969.2,82493.25,56.620,17728.250,7816.6,9896.75,14.900
1009238,1.100144e+11,220 Gulf Coast Basin DEC,"220 - Gulf Coast Basin (LA, TX)",Oklahoma City,OK,73102,333 West Sheridan Ave,OKLAHOMA COUNTY,35.466697,-97.514530,...,36013.90,22.946,94675.778,47585.7,47057.00,33.078,148424.596,56991.8,91387.50,45.296
1009170,1.100381e+11,260 East Texas Basin - BP America Production C...,260 - East Texas Basin,Houston,TX,77079,501 Westlake Park Blvd.,HARRIS COUNTY,29.780370,-95.629500,...,44599.00,34.866,34844.106,14469.7,20345.50,28.906,40809.110,13007.3,27773.50,28.310
1009265,1.100677e+11,360 Anadarko Basin,360 - Anadarko Basin,Oklahoma City,OK,73142,"4700 Gaillardia Parkway, Ste. 200",NaN,35.567190,-97.498270,...,130454.75,58.706,206799.244,43283.2,163463.00,53.044,243416.194,42866.8,200511.25,38.144
1008287,1.100144e+11,360 Anadarko Basin DEC,360 - Anadarko Basin,Oklahoma City,OK,73102,333 West Sheridan Ave,OKLAHOMA COUNTY,35.466697,-97.514530,...,196016.60,230.056,396990.192,180497.1,216253.50,239.592,392734.616,133358.5,259192.25,183.866
1009281,1.100030e+11,395 Williston Basin QEP Energy Company,395 - Williston Basin,Denver,CO,80265,"1050 17th Street, Suite 500",DENVER COUNTY,39.748460,-104.994020,...,97673.25,384.420,226559.414,201454.0,24995.75,109.664,65451.136,63544.6,1822.50,84.036
1009276,NaN,415 Strawn Basin BKV,415 - Strawn Basin,Bridgeport,TX,76426,1209 CR 1304,NaN,35.471181,-97.516602,...,115969.10,124.862,220281.886,85734.6,134351.50,195.786,280102.866,111260.2,168591.75,250.916
1008289,1.100144e+11,420 Fort Worth Syncline BKV,420 - Fort Worth Syncline,Bridgeport,TX,76426,1209 CR 1304,OKLAHOMA COUNTY,35.466697,-97.514530,...,344165.20,218.434,731800.136,244922.7,486406.00,471.436,700990.432,163464.2,537270.25,255.982
1008290,1.100144e+11,430 Permian Basin DEC,430 - Permian Basin,Oklahoma City,OK,73102,333 West Sheridan Ave,OKLAHOMA COUNTY,35.466697,-97.514530,...,188143.40,400.214,551620.576,220796.4,330351.25,472.926,292748.384,168230.6,124165.25,352.534
1009691,1.100435e+11,430 Permian Basin QEP Energy Company,430 - Permian Basin,Denver,CO,80265,1050 17th Street Unit 800,HARRIS COUNTY,29.756080,-95.364330,...,47991.50,67.646,29190.650,4198.9,24991.75,NaN,NaN,NaN,NaN,NaN

In [25]:
df_oog.columns

Index(['FRS Id', 'Facility Name', 'Basin', 'Reported City', 'Reported State',
       'Reported Zip Code', 'Reported Address', 'Reported County',
       'Reported Latitude', 'Reported Longitude', 'Primary NAICS Code',
       'Industry Type (subparts)',
       'Total reported emissions from Onshore Oil & Gas Production ',
       'CO2 emissions (non-biogenic) ', 'Methane (CH4) emissions ',
       'Nitrous Oxide (N2O) emissions ',
       'Total reported emissions from Onshore Oil & Gas Production _2019',
       'CO2 emissions (non-biogenic) _2019', 'Methane (CH4) emissions _2019',
       'Nitrous Oxide (N2O) emissions _2019',
       'Total reported emissions from Onshore Oil & Gas Production _2018',
       'CO2 emissions (non-biogenic) _2018', 'Methane (CH4) emissions _2018',
       'Nitrous Oxide (N2O) emissions _2018',
       'Total reported emissions from Onshore Oil & Gas Production _2017',
       'CO2 emissions (non-biogenic) _2017', 'Methane (CH4) emissions _2017',
       'Nitrous Oxide (N2O) emissions _2017',
       'Total reported emissions from Onshore Oil & Gas Production _2016',
       'CO2 emissions (non-biogenic) _2016', 'Methane (CH4) emissions _2016',
       'Nitrous Oxide (N2O) emissions _2016',
       'Total reported emissions from Onshore Oil & Gas Production _2015',
       'CO2 emissions (non-biogenic) _2015', 'Methane (CH4) emissions _2015',
       'Nitrous Oxide (N2O) emissions _2015',
       'Total reported emissions from Onshore Oil & Gas Production _2014',
       'CO2 emissions (non-biogenic) _2014', 'Methane (CH4) emissions _2014',
       'Nitrous Oxide (N2O) emissions _2014',
       'Total reported emissions from Onshore Oil & Gas Production _2013',
       'CO2 emissions (non-biogenic) _2013', 'Methane (CH4) emissions _2013',
       'Nitrous Oxide (N2O) emissions _2013',
       'Total reported emissions from Onshore Oil & Gas Production _2012',
       'CO2 emissions (non-biogenic) _2012', 'Methane (CH4) emissions _2012',
       'Nitrous Oxide (N2O) emissions _2012',
       'Total reported emissions from Onshore Oil & Gas Production _2011',
       'CO2 emissions (non-biogenic) _2011', 'Methane (CH4) emissions _2011',
       'Nitrous Oxide (N2O) emissions _2011'],
      dtype='object')

In [28]:
df_oog.columns = ['FRS_Id', 'Facility_Name', 'Basin', 'City', 'State',
       'Zip_Code', 'Address', 'County',
       'Latitude', 'Longitude', 'Primary_NAICS_Code',
       'IT_subparts',
       'Total_emi_oog_2020',
       'CO2_emi_non_bio_2020', 'Meth_CH4_emi_2020',
       'N2O_emi_2020',
       'Total_emi_oog_2019',
       'CO2_emi_non_bio_2019', 'Meth_CH4_emi_2019',
       'N2O_emi_2019',
       'Total_emi_oog_2018',
       'CO2_emi_non_bio_2018', 'Meth_CH4_emi_2018',
       'N2O_emi_2018',
       'Total_emi_oog_2017',
       'CO2_emi_non_bio_2017', 'Meth_CH4_emi_2017',
       'N2O_emi_2017',
       'Total_emi_oog_2016',
       'CO2_emi_non_bio_2016', 'Meth_CH4_emi_2016',
       'N2O_emi_2016',
       'Total_emi_oog_2015',
       'CO2_emi_non_bio_2015', 'Meth_CH4_emi_2015',
       'N2O_emi_2015',
       'Total_emi_oog_2014',
       'CCO2_emi_non_bio_2014', 'Meth_CH4_emi_2014',
       'N2O_emi_2014',
       'Total_emi_oog_2013',
       'CO2_emi_non_bio_2013', 'Meth_CH4_emi_2013',
       'N2O_emi_2013',
       'Total_emi_oog_2012',
       'CO2_emi_non_bio_2012', 'Meth_CH4_emi_2012',
       'N2O_emi_2012',
       'Total_emi_oog_2011',
       'CO2_emi_non_bio_2011', 'Meth_CH4_emi_2011',
       'N2O_emi_2011']

In [29]:
df_oog.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 468 entries, 1000355 to 1013771
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FRS_Id                 328 non-null    float64
 1   Facility_Name          468 non-null    object
 2   Basin                  459 non-null    object
 3   City                   468 non-null    object
 4   State                  468 non-null    object
 5   Zip_Code               468 non-null    int64
 6   Address                463 non-null    object
 7   County                 265 non-null    object
 8   Latitude               468 non-null    float64
 9   Longitude              468 non-null    float64
 10  Primary_NAICS_Code     468 non-null    int64
 11  IT_subparts            468 non-null    object
 12  Total_emi_oog_2020     468 non-null    float64
 13  CO2_emi_non_bio_2020   466 non-null    float64
 14  Meth_CH4_emi_2020      467 non-null    float64
 15  N2O_emi_2020           443 non-null    float64
 16  Total_emi_oog_2019     449 non-null    float64
 17  CO2_emi_non_bio_2019   448 non-null    float64
 18  Meth_CH4_emi_2019      448 non-null    float64
 19  N2O_emi_2019           429 non-null    float64
 20  Total_emi_oog_2018     419 non-null    float64
 21  CO2_emi_non_bio_2018   417 non-null    float64
 22  Meth_CH4_emi_2018      418 non-null    float64
 23  N2O_emi_2018           400 non-null    float64
 24  Total_emi_oog_2017     379 non-null    float64
 25  CO2_emi_non_bio_2017   379 non-null    float64
 26  Meth_CH4_emi_2017      379 non-null    float64
 27  N2O_emi_2017           356 non-null    float64
 28  Total_emi_oog_2016     345 non-null    float64
 29  CO2_emi_non_bio_2016   345 non-null    float64
 30  Meth_CH4_emi_2016      345 non-null    float64
 31  N2O_emi_2016           322 non-null    float64
 32  Total_emi_oog_2015     323 non-null    float64
 33  CO2_emi_non_bio_2015   323 non-null    float64
 34  Meth_CH4_emi_2015      323 non-null    float64
 35  N2O_emi_2015           303 non-null    float64
 36  Total_emi_oog_2014     296 non-null    float64
 37  CCO2_emi_non_bio_2014  296 non-null    float64
 38  Meth_CH4_emi_2014      294 non-null    float64
 39  N2O_emi_2014           281 non-null    float64
 40  Total_emi_oog_2013     262 non-null    float64
 41  CO2_emi_non_bio_2013   262 non-null    float64
 42  Meth_CH4_emi_2013      262 non-null    float64
 43  N2O_emi_2013           245 non-null    float64
 44  Total_emi_oog_2012     237 non-null    float64
 45  CO2_emi_non_bio_2012   237 non-null    float64
 46  Meth_CH4_emi_2012      237 non-null    float64
 47  N2O_emi_2012           223 non-null    float64
 48  Total_emi_oog_2011     214 non-null    float64
 49  CO2_emi_non_bio_2011   214 non-null    float64
 50  Meth_CH4_emi_2011      214 non-null    float64
 51  N2O_emi_2011           203 non-null    float64
dtypes: float64(43), int64(2), object(7)
memory usage: 193.8+ KB

In [23]:
df_oog.dropna(0,how='all',inplace=True)

In [39]:
df_oog['N2O_emi_2011'].fillna(df_oog['N2O_emi_2011'].mean())
df_oog['N2O_emi_2011'].tail()

Facility Id
1008078   NaN
1009141   NaN
1013913   NaN
1013936   NaN
1013771   NaN
Name: N2O_emi_2011, dtype: float64

In [38]:
df_oog.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 468 entries, 1000355 to 1013771
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FRS_Id                 328 non-null    float64
 1   Facility_Name          468 non-null    object
 2   Basin                  459 non-null    object
 3   City                   468 non-null    object
 4   State                  468 non-null    object
 5   Zip_Code               468 non-null    int64
 6   Address                463 non-null    object
 7   County                 265 non-null    object
 8   Latitude               468 non-null    float64
 9   Longitude              468 non-null    float64
 10  Primary_NAICS_Code     468 non-null    int64
 11  IT_subparts            468 non-null    object
 12  Total_emi_oog_2020     468 non-null    float64
 13  CO2_emi_non_bio_2020   466 non-null    float64
 14  Meth_CH4_emi_2020      467 non-null    float64
 15  N2O_emi_2020           443 non-null    float64
 16  Total_emi_oog_2019     449 non-null    float64
 17  CO2_emi_non_bio_2019   448 non-null    float64
 18  Meth_CH4_emi_2019      448 non-null    float64
 19  N2O_emi_2019           429 non-null    float64
 20  Total_emi_oog_2018     419 non-null    float64
 21  CO2_emi_non_bio_2018   417 non-null    float64
 22  Meth_CH4_emi_2018      418 non-null    float64
 23  N2O_emi_2018           400 non-null    float64
 24  Total_emi_oog_2017     379 non-null    float64
 25  CO2_emi_non_bio_2017   379 non-null    float64
 26  Meth_CH4_emi_2017      379 non-null    float64
 27  N2O_emi_2017           356 non-null    float64
 28  Total_emi_oog_2016     345 non-null    float64
 29  CO2_emi_non_bio_2016   345 non-null    float64
 30  Meth_CH4_emi_2016      345 non-null    float64
 31  N2O_emi_2016           322 non-null    float64
 32  Total_emi_oog_2015     323 non-null    float64
 33  CO2_emi_non_bio_2015   323 non-null    float64
 34  Meth_CH4_emi_2015      323 non-null    float64
 35  N2O_emi_2015           303 non-null    float64
 36  Total_emi_oog_2014     296 non-null    float64
 37  CCO2_emi_non_bio_2014  296 non-null    float64
 38  Meth_CH4_emi_2014      294 non-null    float64
 39  N2O_emi_2014           281 non-null    float64
 40  Total_emi_oog_2013     262 non-null    float64
 41  CO2_emi_non_bio_2013   262 non-null    float64
 42  Meth_CH4_emi_2013      262 non-null    float64
 43  N2O_emi_2013           245 non-null    float64
 44  Total_emi_oog_2012     237 non-null    float64
 45  CO2_emi_non_bio_2012   237 non-null    float64
 46  Meth_CH4_emi_2012      237 non-null    float64
 47  N2O_emi_2012           223 non-null    float64
 48  Total_emi_oog_2011     214 non-null    float64
 49  CO2_emi_non_bio_2011   214 non-null    float64
 50  Meth_CH4_emi_2011      214 non-null    float64
 51  N2O_emi_2011           203 non-null    float64
dtypes: float64(43), int64(2), object(7)
memory usage: 193.8+ KB

In [25]:
df_oog.describe()

,FRS Id,Reported Zip Code,Reported Latitude,Reported Longitude,Primary NAICS Code,Total reported emissions from Onshore Oil & Gas Production,CO2 emissions (non-biogenic),Methane (CH4) emissions,Nitrous Oxide (N2O) emissions,Total reported emissions from Onshore Oil & Gas Production _2019,...,Methane (CH4) emissions _2013,Nitrous Oxide (N2O) emissions _2013,Total reported emissions from Onshore Oil & Gas Production _2012,CO2 emissions (non-biogenic) _2012,Methane (CH4) emissions _2012,Nitrous Oxide (N2O) emissions _2012,Total reported emissions from Onshore Oil & Gas Production _2011,CO2 emissions (non-biogenic) _2011,Methane (CH4) emissions _2011,Nitrous Oxide (N2O) emissions _2011
count,3.280000e+02,468.000000,468.000000,468.000000,468.000000,4.680000e+02,4.660000e+02,4.670000e+02,443.000000,4.490000e+02,...,2.620000e+02,245.000000,2.370000e+02,2.370000e+02,2.370000e+02,223.000000,2.140000e+02,2.140000e+02,2.140000e+02,203.000000
mean,1.100460e+11,73962.777778,35.348369,-99.269582,211140.995726,1.997609e+05,1.187905e+05,8.153659e+04,122.197698,2.590456e+05,...,1.445255e+05,132.223208,2.660466e+05,1.101293e+05,1.558086e+05,115.475668,2.774091e+05,1.069363e+05,1.703644e+05,114.223547
std,2.015593e+07,15391.044060,6.388005,10.452588,183.217648,3.165285e+05,2.140498e+05,1.771384e+05,391.809531,4.132714e+05,...,4.038934e+05,207.257399,4.289576e+05,1.725266e+05,3.360379e+05,166.718625,5.023738e+05,1.669261e+05,4.189128e+05,187.117795
min,1.100008e+11,15086.000000,26.198570,-151.753262,211120.000000,0.000000e+00,0.000000e+00,2.450000e+01,0.298000,0.000000e+00,...,3.500000e+00,0.298000,7.564000e+02,1.900000e+00,1.000000e+01,0.298000,1.967300e+03,1.080000e+01,4.750000e+01,0.298000
25%,1.100342e+11,74143.750000,30.131825,-103.679574,211120.000000,4.372333e+04,1.338573e+04,1.013238e+04,11.473000,5.033973e+04,...,2.026712e+04,17.880000,6.439950e+04,1.672900e+04,2.777300e+04,17.731000,6.032940e+04,1.397262e+04,2.594400e+04,11.324000
50%,1.100555e+11,77002.000000,33.223362,-96.856543,211120.000000,9.605335e+04,4.219105e+04,3.215200e+04,37.548000,1.165947e+05,...,5.824875e+04,46.488000,1.263229e+05,5.056520e+04,5.687425e+04,48.276000,1.355379e+05,4.804720e+04,5.995350e+04,39.038000
75%,1.100637e+11,79702.250000,39.721355,-95.391017,211130.000000,2.194286e+05,1.200500e+05,8.692550e+04,108.919000,2.904509e+05,...,1.292162e+05,157.046000,2.904987e+05,1.222333e+05,1.612842e+05,158.238000,3.173349e+05,1.192023e+05,1.573212e+05,145.722000
max,1.100707e+11,99734.000000,70.510000,-77.001065,213112.000000,3.221437e+06,1.617444e+06,2.237982e+06,7278.203000,3.322124e+06,...,5.845810e+06,1751.644000,5.020111e+06,1.122180e+06,4.172750e+06,1248.620000,6.181128e+06,1.204406e+06,5.329691e+06,1461.988000

In [40]:
df_de = data10_de.merge(data9_de['Total reported direct emissions'], on='Facility Id', how='left', suffixes=('','_2019'))
df_de = df_de.merge(data8_de['Total reported direct emissions'], on='Facility Id', how='left', suffixes=('','_2018'))
df_de = df_de.merge(data7_de['Total reported direct emissions'], on='Facility Id', how='left', suffixes=('','_2017'))
df_de = df_de.merge(data6_de['Total reported direct emissions'], on='Facility Id', how='left', suffixes=('','_2016'))
df_de = df_de.merge(data5_de['Total reported direct emissions'], on='Facility Id', how='left', suffixes=('','_2015'))
df_de = df_de.merge(data4_de['Total reported direct emissions'], on='Facility Id', how='left', suffixes=('','_2014'))
df_de = df_de.merge(data3_de['Total reported direct emissions'], on='Facility Id', how='left', suffixes=('','_2013'))
df_de = df_de.merge(data2_de['Total reported direct emissions'], on='Facility Id', how='left', suffixes=('','_2012'))
df_de = df_de.merge(data1_de['Total reported direct emissions'], on='Facility Id', how='left', suffixes=('','_2011'))

In [41]:
df_de.columns

Index(['FRS Id', 'Facility Name', 'City', 'State', 'Zip Code', 'Address',
       'County', 'Latitude', 'Longitude', 'Primary NAICS Code',
       'Industry Type (subparts)', 'Industry Type (sectors)',
       'Total reported direct emissions',
       'Total reported direct emissions_2019',
       'Total reported direct emissions_2018',
       'Total reported direct emissions_2017',
       'Total reported direct emissions_2016',
       'Total reported direct emissions_2015',
       'Total reported direct emissions_2014',
       'Total reported direct emissions_2013',
       'Total reported direct emissions_2012',
       'Total reported direct emissions_2011'],
      dtype='object')

In [42]:
df_de.columns = ['FRS_Id', 'Facility_Name', 'City', 'State', 'Zip Code', 'Address',
       'County', 'Latitude', 'Longitude', 'Primary_NAICS_Code',
       'IT_subparts', 'IT_sectors',
       'Total_rep_de_2020',
       'Total_rep_de_2019',
       'Total_rep_de_2018',
       'Total_rep_de_2017',
       'Total_rep_de_2016',
       'Total_rep_de_2015',
       'Total_rep_de_2014',
       'Total_rep_de_2013',
       'Total_rep_de_2012',
       'Total_rep_de_2011']

In [43]:
#Count of missing values in df_de by columns

missing = pd.concat([df_de.isnull().sum(), 100 * df_de.isnull().mean()], axis=1)
missing.columns=["count", "%"]
missing.sort_values(by='count',ascending = False)

                    count          %
Total_rep_de_2011    1130  17.344589
Total_rep_de_2012    1003  15.395242
Total_rep_de_2013     863  13.246355
Total_rep_de_2014     708  10.867229
Total_rep_de_2015     620   9.516500
Total_rep_de_2016     532   8.165771
Address               477   7.321566
Total_rep_de_2017     438   6.722947
Total_rep_de_2018     276   4.236378
County                254   3.898695
Total_rep_de_2019     115   1.765157
FRS_Id                110   1.688411
Total_rep_de_2020       0   0.000000
Facility_Name           0   0.000000
IT_subparts             0   0.000000
Primary_NAICS_Code      0   0.000000
Longitude               0   0.000000
Latitude                0   0.000000
Zip Code                0   0.000000
State                   0   0.000000
City                    0   0.000000
IT_sectors              0   0.000000

In [28]:
#categorical features
df_de.select_dtypes('object')

,Facility Name,City,State,Address,County,Industry Type (subparts),Industry Type (sectors)
Facility Id,,,,,,,
1004377,121 REGIONAL DISPOSAL FACILITY,MELISSA,TX,3820 SAM RAYBURN HIGHWAY,COLLIN COUNTY,HH,Waste
1000112,23rd and 3rd,BROOKLYN,NY,730 3rd Avenue,Kings,"C,D",Power Plants
1013621,3Bear Libby Gas Plant,Hobbs,NM,674 Marathon Rd,LEA COUNTY,"C,W-PROC",Petroleum and Natural Gas Systems
1003742,31st Street Landfill,WESTCHESTER,IL,11700 W 31ST ST,COOK COUNTY,"C,HH",Waste
1003188,3M BROWNWOOD,BROWNWOOD,TX,4501 HIGHWAY 377 SOUTH,BROWN COUNTY,"C,N",Minerals
...,...,...,...,...,...,...,...
1010592,Zider,Aiken,TX,N 31 42'14.83,SHELBY COUNTY,"C,W-PROC",Petroleum and Natural Gas Systems
1000805,Zion Energy Center,ZION,IL,5701 NINTH ST,Lake,"C,D",Power Plants
1001464,Zuni,DENVER,CO,1335 ZUNI ST,Denver,D,Power Plants
1012625,voestalpine Texas LLC,Portland,TX,2800 Kay Bailey Hutchison Road,SAN PATRICIO COUNTY,"C,Q",Metals
1011696,white oak landfill,waynesville,NC,3898 fines creek rd,HAYWOOD COUNTY,"C,HH",Waste

In [49]:
(df_de['Facility_Name']+', '+df_de['City']+', '+df_de['State']+', '+df_de['Address']).value_counts().head()

POET Biorefining - Hanlontown LLC, HANLONTOWN, IA, 3638 FIR AVE.         1
OXBOW CALCINING LLC, KREMLIN, OK, 11826 N 30th St                        1
Nebo Power Station, PAYSON, UT, 1265 Bamberger Road                      1
Simco Road Regional Landfill, Mayfield, ID, 16415 NW Waste Site Drive    1
Sutherland, MARSHALLTOWN, IA, 3000 E MAIN ST RD                          1
dtype: int64

In [50]:
(df_de['Facility_Name']+', '+df_de['City']+', '+df_de['State']+', '+df_de['Address']).value_counts().sort_values()

POET Biorefining - Hanlontown LLC, HANLONTOWN, IA, 3638 FIR AVE.               1
Hawkeye Energy Greenport, LLC, GREENPORT, NY, 1885 MOORE'S LANE                1
University of Michigan, ANN ARBOR, MI, 1239 Kipke Drive                        1
E D Edwards, BARTONVILLE, IL, 7800 SOUTH CILCO LANE                            1
J. C. Elliott Landfill and Transfer Station, CORPUS CHRISTI, TX, 7001 AYERS    1
                                                                              ..
CAPITOL CEMENT PLANT, SAN ANTONIO, TX, 11551 NACOGDOCHES RD.                   1
Drake Cement, Paulden, AZ, 5001 E. Drake Rd.                                   1
INEOS NITRILES USA LLC, Lima, OH, 1900 Fort Amanda Rd                          1
PILKINGTON N.A., OTTAWA, IL, 300 20th Street                                   1
Versum Materials US, LLC, TAMAQUA, PA, 357 MARIAN AVENUE                       1
Length: 6038, dtype: int64

In [51]:
df_de['County'].value_counts()

JEFFERSON COUNTY            89
HARRIS COUNTY               85
WASHINGTON COUNTY           48
LOS ANGELES COUNTY          44
MONTGOMERY COUNTY           43
                            ..
KEARNEY COUNTY               1
HUNTINGTON COUNTY            1
DE WITT COUNTY               1
RALLS COUNTY                 1
NORTHWEST ARCTIC BOROUGH     1
Name: County, Length: 1772, dtype: int64

In [52]:
df_de['State'].value_counts()

TX    813
LA    414
CA    376
PA    280
OH    255
IL    233
MI    214
NY    204
IN    191
FL    173
AL    172
OK    169
GA    164
IA    152
KY    134
VA    133
MN    131
WI    129
NC    125
TN    118
WV    118
CO    112
MO    107
MS    106
KS    104
AR     99
SC     98
WA     90
AZ     89
NJ     87
NM     87
NE     72
MA     69
WY     68
UT     65
AK     63
ND     62
OR     58
MD     58
CT     40
NV     39
ID     37
SD     36
MT     28
ME     28
HI     28
PR     20
DE     19
NH     17
RI     10
GU      8
VT      5
DC      4
VI      4
Name: State, dtype: int64

In [104]:
imputed_df_de = df_de.iloc[:,12:]
for col in imputed_df_de.columns:
    imputed_column = df_de[col].fillna(df_de[col].mean())
    #Fill in Series on DataFrame
    imputed_df_de[col] = imputed_column


print(imputed_df_de.describe(include = 'all'))

       Total_rep_de_2020  Total_rep_de_2019  Total_rep_de_2018  \
count       6.515000e+03       6.515000e+03       6.515000e+03
mean        3.684321e+05       4.064988e+05       4.352801e+05
std         1.064542e+06       1.180335e+06       1.277499e+06
min         0.000000e+00       0.000000e+00       0.000000e+00
25%         3.126729e+04       3.493267e+04       3.614736e+04
50%         6.320322e+04       7.040830e+04       7.578675e+04
75%         1.794937e+05       2.156112e+05       2.668058e+05
max         1.723290e+07       1.916974e+07       1.842964e+07

       Total_rep_de_2017  Total_rep_de_2016  Total_rep_de_2015  \
count       6.515000e+03       6.515000e+03       6.515000e+03
mean        4.314888e+05       4.474238e+05       4.672780e+05
std         1.275032e+06       1.279495e+06       1.316998e+06
min         0.000000e+00       0.000000e+00      -1.196250e+03
25%         3.647170e+04       3.726029e+04       3.940339e+04
50%         7.687800e+04       8.123944e+04       8.508808e+04
75%         2.984203e+05       3.633972e+05       4.422575e+05
max         2.079817e+07       1.973314e+07       1.924705e+07

       Total_rep_de_2014  Total_rep_de_2013  Total_rep_de_2012  \
count       6.515000e+03       6.515000e+03       6.515000e+03
mean        4.916863e+05       5.002783e+05       5.076397e+05
std         1.429759e+06       1.435176e+06       1.397826e+06
min         0.000000e+00       0.000000e+00       0.000000e+00
25%         4.050051e+04       4.278497e+04       4.553063e+04
50%         8.793460e+04       9.453331e+04       1.052225e+05
75%         4.916863e+05       5.002783e+05       5.076397e+05
max         2.048246e+07       2.229333e+07       2.181556e+07

       Total_rep_de_2011
count       6.515000e+03
mean        5.340269e+05
std         1.496368e+06
min         0.000000e+00
25%         4.799812e+04
50%         1.128387e+05
75%         5.340269e+05
max         2.207365e+07

In [99]:
missing = pd.concat([imputed_df_de.isnull().sum(), 100 * imputed_df_de.isnull().mean()], axis=1)
missing.columns=["count", "%"]
missing.sort_values(by='count',ascending = False)

                   count    %
Total_rep_de_2020      0  0.0
Total_rep_de_2019      0  0.0
Total_rep_de_2018      0  0.0
Total_rep_de_2017      0  0.0
Total_rep_de_2016      0  0.0
Total_rep_de_2015      0  0.0
Total_rep_de_2014      0  0.0
Total_rep_de_2013      0  0.0
Total_rep_de_2012      0  0.0
Total_rep_de_2011      0  0.0

In [100]:
df_de.iloc[:,12:].describe()

,Total_rep_de_2020,Total_rep_de_2019,Total_rep_de_2018,Total_rep_de_2017,Total_rep_de_2016,Total_rep_de_2015,Total_rep_de_2014,Total_rep_de_2013,Total_rep_de_2012,Total_rep_de_2011
count,6.515000e+03,6.400000e+03,6.239000e+03,6.077000e+03,5.983000e+03,5.895000e+03,5.807000e+03,5.652000e+03,5.512000e+03,6.515000e+03
mean,3.684321e+05,4.064988e+05,4.352801e+05,4.314888e+05,4.474238e+05,4.672780e+05,4.916863e+05,5.002783e+05,5.076397e+05,5.340269e+05
std,1.064542e+06,1.190894e+06,1.305454e+06,1.320189e+06,1.335178e+06,1.384534e+06,1.514427e+06,1.540871e+06,1.519713e+06,1.496368e+06
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.196250e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.126729e+04,3.455003e+04,3.526747e+04,3.467942e+04,3.498757e+04,3.675877e+04,3.760165e+04,3.861200e+04,4.063269e+04,4.799812e+04
50%,6.320322e+04,6.846661e+04,7.142854e+04,6.854000e+04,7.074738e+04,7.290950e+04,7.340827e+04,7.478774e+04,7.768006e+04,1.128387e+05
75%,1.794937e+05,1.909433e+05,2.029640e+05,1.937983e+05,2.031955e+05,2.107020e+05,2.122489e+05,2.169258e+05,2.373997e+05,5.340269e+05
max,1.723290e+07,1.916974e+07,1.842964e+07,2.079817e+07,1.973314e+07,1.924705e+07,2.048246e+07,2.229333e+07,2.181556e+07,2.207365e+07

In [101]:
imputed_df_de.describe()

,Total_rep_de_2020,Total_rep_de_2019,Total_rep_de_2018,Total_rep_de_2017,Total_rep_de_2016,Total_rep_de_2015,Total_rep_de_2014,Total_rep_de_2013,Total_rep_de_2012,Total_rep_de_2011
count,6.515000e+03,6.515000e+03,6.515000e+03,6.515000e+03,6.515000e+03,6.515000e+03,6.515000e+03,6.515000e+03,6.515000e+03,6.515000e+03
mean,3.684321e+05,4.064988e+05,4.352801e+05,4.314888e+05,4.474238e+05,4.672780e+05,4.916863e+05,5.002783e+05,5.076397e+05,5.340269e+05
std,1.064542e+06,1.180335e+06,1.277499e+06,1.275032e+06,1.279495e+06,1.316998e+06,1.429759e+06,1.435176e+06,1.397826e+06,1.496368e+06
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.196250e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.126729e+04,3.493267e+04,3.614736e+04,3.647170e+04,3.726029e+04,3.940339e+04,4.050051e+04,4.278497e+04,4.553063e+04,4.799812e+04
50%,6.320322e+04,7.040830e+04,7.578675e+04,7.687800e+04,8.123944e+04,8.508808e+04,8.793460e+04,9.453331e+04,1.052225e+05,1.128387e+05
75%,1.794937e+05,2.156112e+05,2.668058e+05,2.984203e+05,3.633972e+05,4.422575e+05,4.916863e+05,5.002783e+05,5.076397e+05,5.340269e+05
max,1.723290e+07,1.916974e+07,1.842964e+07,2.079817e+07,1.973314e+07,1.924705e+07,2.048246e+07,2.229333e+07,2.181556e+07,2.207365e+07

It can be seen that the mean of the emissions in different years has not been changed due to imputing the missing values.
So lets make this change permanant by making it directly to the original data.

In [105]:
#imputing the null values with the mean of the column

imputed_df_de = df_de.iloc[:,12:]
df_de_backup = df_de
for col in imputed_df_de.columns:
    imputed_column = df_de[col].fillna(df_de[col].mean())
    #Fill in Series on DataFrame
    df_de[col] = imputed_column



print(df_de.describe())

             FRS_Id      Zip Code     Latitude    Longitude  \
count  6.405000e+03   6515.000000  6515.000000  6515.000000
mean   1.100244e+11  53978.809977    37.315360   -92.479267
std    2.408523e+07  27107.727878     5.978644    16.760792
min    1.100003e+11      0.000000    13.394900  -174.113611
25%    1.100015e+11  32213.000000    32.904403   -97.801833
50%    1.100144e+11  55024.000000    37.785556   -90.212800
75%    1.100438e+11  77488.000000    41.242651   -82.604299
max    1.100711e+11  99801.000000    71.292071   144.891130

       Primary_NAICS_Code  Total_rep_de_2020  Total_rep_de_2019  \
count         6515.000000       6.515000e+03       6.515000e+03
mean        364410.079202       3.684321e+05       4.064988e+05
std         143584.980862       1.064542e+06       1.180335e+06
min         111419.000000       0.000000e+00       0.000000e+00
25%         221112.000000       3.126729e+04       3.493267e+04
50%         325199.000000       6.320322e+04       7.040830e+04
75%         486210.000000       1.794937e+05       2.156112e+05
max         928110.000000       1.723290e+07       1.916974e+07

       Total_rep_de_2018  Total_rep_de_2017  Total_rep_de_2016  \
count       6.515000e+03       6.515000e+03       6.515000e+03
mean        4.352801e+05       4.314888e+05       4.474238e+05
std         1.277499e+06       1.275032e+06       1.279495e+06
min         0.000000e+00       0.000000e+00       0.000000e+00
25%         3.614736e+04       3.647170e+04       3.726029e+04
50%         7.578675e+04       7.687800e+04       8.123944e+04
75%         2.668058e+05       2.984203e+05       3.633972e+05
max         1.842964e+07       2.079817e+07       1.973314e+07

       Total_rep_de_2015  Total_rep_de_2014  Total_rep_de_2013  \
count       6.515000e+03       6.515000e+03       6.515000e+03
mean        4.672780e+05       4.916863e+05       5.002783e+05
std         1.316998e+06       1.429759e+06       1.435176e+06
min        -1.196250e+03       0.000000e+00       0.000000e+00
25%         3.940339e+04       4.050051e+04       4.278497e+04
50%         8.508808e+04       8.793460e+04       9.453331e+04
75%         4.422575e+05       4.916863e+05       5.002783e+05
max         1.924705e+07       2.048246e+07       2.229333e+07

       Total_rep_de_2012  Total_rep_de_2011
count       6.515000e+03       6.515000e+03
mean        5.076397e+05       5.340269e+05
std         1.397826e+06       1.496368e+06
min         0.000000e+00       0.000000e+00
25%         4.553063e+04       4.799812e+04
50%         1.052225e+05       1.128387e+05
75%         5.076397e+05       5.340269e+05
max         2.181556e+07       2.207365e+07

In [106]:
df_de.isnull().sum(axis=0)

FRS_Id                110
Facility_Name           0
City                    0
State                   0
Zip Code                0
Address               477
County                254
Latitude                0
Longitude               0
Primary_NAICS_Code      0
IT_subparts             0
IT_sectors              0
Total_rep_de_2020       0
Total_rep_de_2019       0
Total_rep_de_2018       0
Total_rep_de_2017       0
Total_rep_de_2016       0
Total_rep_de_2015       0
Total_rep_de_2014       0
Total_rep_de_2013       0
Total_rep_de_2012       0
Total_rep_de_2011       0
dtype: int64

In [108]:
df_oog.columns

Index(['FRS_Id', 'Facility_Name', 'Basin', 'City', 'State', 'Zip_Code',
       'Address', 'County', 'Latitude', 'Longitude', 'Primary_NAICS_Code',
       'IT_subparts', 'Total_emi_oog_2020', 'CO2_emi_non_bio_2020',
       'Meth_CH4_emi_2020', 'N2O_emi_2020', 'Total_emi_oog_2019',
       'CO2_emi_non_bio_2019', 'Meth_CH4_emi_2019', 'N2O_emi_2019',
       'Total_emi_oog_2018', 'CO2_emi_non_bio_2018', 'Meth_CH4_emi_2018',
       'N2O_emi_2018', 'Total_emi_oog_2017', 'CO2_emi_non_bio_2017',
       'Meth_CH4_emi_2017', 'N2O_emi_2017', 'Total_emi_oog_2016',
       'CO2_emi_non_bio_2016', 'Meth_CH4_emi_2016', 'N2O_emi_2016',
       'Total_emi_oog_2015', 'CO2_emi_non_bio_2015', 'Meth_CH4_emi_2015',
       'N2O_emi_2015', 'Total_emi_oog_2014', 'CCO2_emi_non_bio_2014',
       'Meth_CH4_emi_2014', 'N2O_emi_2014', 'Total_emi_oog_2013',
       'CO2_emi_non_bio_2013', 'Meth_CH4_emi_2013', 'N2O_emi_2013',
       'Total_emi_oog_2012', 'CO2_emi_non_bio_2012', 'Meth_CH4_emi_2012',
       'N2O_emi_2012', 'Total_emi_oog_2011', 'CO2_emi_non_bio_2011',
       'Meth_CH4_emi_2011', 'N2O_emi_2011'],
      dtype='object')

In [109]:
#imputing the null values with the mean of the column

imputed_df_oog = df_oog.iloc[:,12:]
df_oog_backup = df_oog
for col in imputed_df_oog.columns:
    imputed_column = df_oog[col].fillna(df_oog[col].mean())
    #Fill in Series on DataFrame
    df_oog[col] = imputed_column


print(df_oog.describe())

             FRS_Id      Zip_Code    Latitude   Longitude  Primary_NAICS_Code  \
count  3.280000e+02    468.000000  468.000000  468.000000          468.000000
mean   1.100460e+11  73962.777778   35.348369  -99.269582       211140.995726
std    2.015593e+07  15391.044060    6.388005   10.452588          183.217648
min    1.100008e+11  15086.000000   26.198570 -151.753262       211120.000000
25%    1.100342e+11  74143.750000   30.131825 -103.679574       211120.000000
50%    1.100555e+11  77002.000000   33.223362  -96.856543       211120.000000
75%    1.100637e+11  79702.250000   39.721355  -95.391017       211130.000000
max    1.100707e+11  99734.000000   70.510000  -77.001065       213112.000000

       Total_emi_oog_2020  CO2_emi_non_bio_2020  Meth_CH4_emi_2020  \
count        4.680000e+02          4.680000e+02       4.680000e+02
mean         1.997609e+05          1.187905e+05       8.153659e+04
std          3.165285e+05          2.135909e+05       1.769486e+05
min          0.000000e+00          0.000000e+00       2.450000e+01
25%          4.372333e+04          1.339917e+04       1.014919e+04
50%          9.605335e+04          4.250930e+04       3.217875e+04
75%          2.194286e+05          1.192368e+05       8.690012e+04
max          3.221437e+06          1.617444e+06       2.237982e+06

       N2O_emi_2020  Total_emi_oog_2019  ...  Meth_CH4_emi_2013  N2O_emi_2013  \
count    468.000000        4.680000e+02  ...       4.680000e+02    468.000000
mean     122.197698        2.590456e+05  ...       1.445255e+05    132.223208
std      381.177880        4.047771e+05  ...       3.019455e+05    149.811970
min        0.298000        0.000000e+00  ...       3.500000e+00      0.298000
25%       11.920000        5.185469e+04  ...       4.784231e+04     44.923500
50%       40.975000        1.232710e+05  ...       1.445255e+05    132.223208
75%      122.197698        2.734595e+05  ...       1.445255e+05    132.223208
max     7278.203000        3.322124e+06  ...       5.845810e+06   1751.644000

       Total_emi_oog_2012  CO2_emi_non_bio_2012  Meth_CH4_emi_2012  \
count        4.680000e+02          4.680000e+02       4.680000e+02
mean         2.660466e+05          1.101293e+05       1.558086e+05
std          3.049383e+05          1.226461e+05       2.388833e+05
min          7.564000e+02          1.900000e+00       1.000000e+01
25%          1.251616e+05          4.920100e+04       5.554831e+04
50%          2.660466e+05          1.101293e+05       1.558086e+05
75%          2.660466e+05          1.101293e+05       1.558086e+05
max          5.020111e+06          1.122180e+06       4.172750e+06

       N2O_emi_2012  Total_emi_oog_2011  CO2_emi_non_bio_2011  \
count    468.000000        4.680000e+02          4.680000e+02
mean     115.475668        2.774091e+05          1.069363e+05
std      114.948198        3.392801e+05          1.127342e+05
min        0.298000        1.967300e+03          1.080000e+01
25%       52.969500        1.499532e+05          5.919527e+04
50%      115.475668        2.774091e+05          1.069363e+05
75%      115.475668        2.774091e+05          1.069363e+05
max     1248.620000        6.181128e+06          1.204406e+06

       Meth_CH4_emi_2011  N2O_emi_2011
count       4.680000e+02    468.000000
mean        1.703644e+05    114.223547
std         2.829144e+05    123.064370
min         4.750000e+01      0.298000
25%         7.236981e+04     59.674500
50%         1.703644e+05    114.223547
75%         1.703644e+05    114.223547
max         5.329691e+06   1461.988000

[8 rows x 45 columns]

In [58]:
df_oog['State'].value_counts()

TX    237
CO     67
OK     66
CA     21
PA     19
MI      9
AK      9
ND      6
NM      6
LA      5
WY      5
UT      5
WV      4
MS      3
OH      3
AR      2
MT      1
Name: State, dtype: int64

In [110]:
#imputing the null values with the mean of the column

imputed_df_ldc = df_ldc.iloc[:,12:]
df_ldc_backup = df_ldc
for col in imputed_df_ldc.columns:
    imputed_column = df_ldc[col].fillna(df_ldc[col].mean())
    #Fill in Series on DataFrame
    df_ldc[col] = imputed_column


print(df_ldc.describe())

             FRS_Id      Zip_Code    Latitude   Longitude  Primary_NAICS_Code  \
count  1.610000e+02    164.000000  164.000000  164.000000          164.000000
mean   1.100354e+11  47035.609756   38.109034  -89.232060       228707.298780
std    1.843147e+07  26814.315500    4.557469   12.931696        61728.958465
min    1.100008e+11   2090.000000   27.950290 -122.672450       221121.000000
25%    1.100223e+11  24855.500000   35.139162  -95.370401       221210.000000
50%    1.100438e+11  46708.000000   38.798414  -87.599282       221210.000000
75%    1.100438e+11  70290.500000   41.587580  -79.593100       221210.000000
max    1.100701e+11  99336.000000   47.660000  -70.910590       921120.000000

       Total_rep_de_ldc_2020  Total_rep_de_ldc_2019  Total_rep_de_ldc_2018  \
count           1.640000e+02           1.640000e+02           1.640000e+02
mean            7.707990e+04           8.006306e+04           8.352378e+04
std             1.445682e+05           1.476136e+05           1.504783e+05
min             0.000000e+00           0.000000e+00           0.000000e+00
25%             7.642525e+03           7.977750e+03           8.766150e+03
50%             3.208385e+04           3.550480e+04           3.872262e+04
75%             8.471718e+04           8.587965e+04           9.037188e+04
max             1.309065e+06           1.307009e+06           1.313835e+06

       Total_rep_de_ldc_2017  Total_rep_de_ldc_2016  Total_rep_de_ldc_2015  \
count           1.640000e+02           1.640000e+02           1.640000e+02
mean            8.660141e+04           8.857234e+04           9.164679e+04
std             1.543303e+05           1.566353e+05           1.600347e+05
min             3.615000e+02           0.000000e+00           0.000000e+00
25%             1.271641e+04           1.305901e+04           1.236194e+04
50%             4.155562e+04           4.218115e+04           4.404115e+04
75%             8.681895e+04           8.857234e+04           9.246930e+04
max             1.318935e+06           1.330007e+06           1.331063e+06

       Total_rep_de_ldc_2014  Total_rep_de_ldc_2013  Total_rep_de_ldc_2012  \
count           1.640000e+02           1.640000e+02           1.640000e+02
mean            9.225343e+04           9.925839e+04           1.010259e+05
std             1.548429e+05           1.587386e+05           1.606164e+05
min             0.000000e+00           0.000000e+00           0.000000e+00
25%             1.329735e+04           1.662036e+04           1.783746e+04
50%             4.710315e+04           5.613250e+04           5.913252e+04
75%             9.554979e+04           1.104640e+05           1.115950e+05
max             1.333550e+06           1.357409e+06           1.385094e+06

       Total_rep_de_ldc_2011
count           1.640000e+02
mean            1.033120e+05
std             1.652237e+05
min             0.000000e+00
25%             1.750764e+04
50%             6.003900e+04
75%             1.049240e+05
max             1.350350e+06

In [59]:
df_ldc['State'].value_counts()

TX    18
IN    11
NY     8
TN     8
MA     6
VA     6
IA     6
PA     6
AL     5
FL     5
NC     5
MO     5
WI     5
IL     5
NJ     4
CT     4
NV     3
MD     3
KY     3
MT     3
SC     3
OH     3
WA     3
MI     3
MN     3
CA     3
NE     2
LA     2
WV     2
CO     2
DE     2
KS     2
NM     2
OR     2
UT     2
AZ     2
MS     1
VT     1
ID     1
OK     1
GA     1
RI     1
AR     1
Name: State, dtype: int64

In [111]:
df_sf6.columns

Index(['FRD_id', 'Facility_Name', 'City', 'State', 'Zip_Code', 'Address',
       'County', 'Latitude', 'Longitude', 'Primary_NAICS_Code', 'IT_subparts',
       'Total_de_EE_2020', 'SF6_emissions_2020 ', 'Total_de_EE_2019',
       'SF6_emissions_2019', 'Total_de_EE_2018', 'SF6_emissions_2018',
       'Total_de_EE_2017', 'SF6_emissions_2017', 'Total_de_EE_2016',
       'SF6_emissions_2016', 'Total_de_EE_2015', 'SF6_emissions_2015',
       'Total_de_EE_2014', 'SF6_emissions_2014', 'Total_de_EE_2013',
       'SF6_emissions_2013', 'Total_de_EE_2012', 'SF6_emissions_2012',
       'Total_de_EE_2011', 'SF6_emissions_2011'],
      dtype='object')

In [117]:
# imputing the null values with the mean of the column

imputed_df_sf6 = df_sf6.iloc[:,11:]
df_sf6_backup = df_sf6
for col in imputed_df_sf6.columns:
    imputed_column = df_sf6[col].fillna(df_sf6[col].mean())
    #Fill in Series on DataFrame
    df_sf6[col] = imputed_column


print(df_sf6.describe())

             FRD_id      Zip_Code   Latitude   Longitude  Primary_NAICS_Code  \
count  8.800000e+01     89.000000  89.000000   89.000000           89.000000
mean   1.100326e+11  58854.988764  37.351718  -95.985143       224793.415730
std    2.484037e+07  29094.051174   5.962872   16.989547        18856.556957
min    1.100004e+11    936.000000  18.466224 -157.851490       221111.000000
25%    1.100096e+11  36421.000000  33.447479 -106.632900       221121.000000
50%    1.100342e+11  61602.000000  38.021520  -94.405951       221121.000000
75%    1.100555e+11  84116.000000  41.463390  -83.442980       221122.000000
max    1.100708e+11  99220.000000  47.675155  -66.105724       325110.000000

       Total_de_EE_2020  SF6_emissions_2020   Total_de_EE_2019  \
count         89.000000            89.000000         89.000000
mean       22526.246292         25703.024615      29457.519529
std        41089.876871         40199.550972      58252.314586
min            0.000000            20.520000          0.000000
25%          656.640000          1705.440000       1037.400000
50%         6103.560000         12660.840000       9300.120000
75%        26922.240000         26922.240000      29457.519529
max       249121.920000        249121.920000     338520.720000

       SF6_emissions_2019  Total_de_EE_2018  ...  Total_de_EE_2015  \
count           89.000000         89.000000  ...         89.000000
mean         35769.845143      27606.971852  ...      32694.253081
std          56689.732309      46786.484810  ...      33612.935756
min            237.120000      -1023.720000  ...          0.000000
25%           6561.840000       1124.040000  ...      10488.000000
50%          18882.960000       9482.520000  ...      31425.240000
75%          35769.845143      27606.971852  ...      32694.253081
max         338520.720000     255959.640000  ...     181387.680000

       SF6_emissions_2015  Total_de_EE_2014  SF6_emissions_2014  \
count           89.000000         89.000000           89.000000
mean         35858.213057      41110.696355        45678.551506
std          32402.098462      50916.492081        49427.852284
min            262.200000     -12989.160000       -12989.160000
25%          16368.120000       8226.240000        14829.120000
50%          35858.213057      33550.200000        38876.280000
75%          35858.213057      41110.696355        45678.551506
max         181387.680000     299769.840000       299769.840000

       Total_de_EE_2013  SF6_emissions_2013  Total_de_EE_2012  \
count         89.000000           89.000000         89.000000
mean       41014.398857        45571.554286      38833.798235
std        57166.335437        55850.803945      46281.058544
min            0.000000          253.080000          0.000000
25%         6372.600000        10791.240000       7850.040000
50%        27841.080000        45571.554286      34797.360000
75%        41014.398857        45571.554286      41527.920000
max       421952.760000       421952.760000     231926.160000

       SF6_emissions_2012  Total_de_EE_2011  SF6_emissions_2011
count           89.000000         89.000000           89.000000
mean         43290.135738      42561.830909        46050.505574
std          44813.066107      56910.543183        55923.578565
min            346.560000          0.000000          186.960000
25%          10996.440000       6600.600000        11413.680000
50%          43290.135738      36288.480000        46050.505574
75%          43290.135738      42561.830909        46050.505574
max         231926.160000     346122.240000       346122.240000

[8 rows x 25 columns]

In [60]:
df_sf6['State'].value_counts()

TX    14
CA    10
NY     6
FL     4
PA     4
WA     4
MI     4
MN     4
OH     3
IN     3
AZ     3
NV     2
IA     2
KY     2
MO     2
ND     2
TN     1
NJ     1
AL     1
GA     1
OK     1
NE     1
HI     1
NC     1
OR     1
PR     1
SC     1
UT     1
IL     1
VT     1
MA     1
NM     1
CO     1
KS     1
VA     1
LA     1
Name: State, dtype: int64

In [61]:
df_de.columns

Index(['FRS_Id', 'Facility_Name', 'City', 'State', 'Zip Code', 'Address',
       'County', 'Latitude', 'Longitude', 'Primary_NAICS_Code', 'IT_subparts',
       'IT_sectors', 'Total_rep_de_2020', 'Total_rep_de_2019',
       'Total_rep_de_2018', 'Total_rep_de_2017', 'Total_rep_de_2016',
       'Total_rep_de_2015', 'Total_rep_de_2014', 'Total_rep_de_2013',
       'Total_rep_de_2012', 'Total_rep_de_2011'],
      dtype='object')

In [62]:
df_sf6.columns

Index(['FRD_id', 'Facility_Name', 'City', 'State', 'Zip_Code', 'Address',
       'County', 'Latitude', 'Longitude', 'Primary_NAICS_Code', 'IT_subparts',
       'Total_de_EE_2020', 'SF6_emissions_2020 ', 'Total_de_EE_2019',
       'SF6_emissions_2019', 'Total_de_EE_2018', 'SF6_emissions_2018',
       'Total_de_EE_2017', 'SF6_emissions_2017', 'Total_de_EE_2016',
       'SF6_emissions_2016', 'Total_de_EE_2015', 'SF6_emissions_2015',
       'Total_de_EE_2014', 'SF6_emissions_2014', 'Total_de_EE_2013',
       'SF6_emissions_2013', 'Total_de_EE_2012', 'SF6_emissions_2012',
       'Total_de_EE_2011', 'SF6_emissions_2011'],
      dtype='object')

In [63]:
df_ldc.columns

Index(['FRS_Id', 'Facility_Name', 'State_where_Emissions_Occur', 'City',
       'State', 'Zip_Code', 'Address', 'County', 'Latitude', 'Longitude',
       'Primary_NAICS_Code', 'IT_subparts', 'Total_rep_de_ldc_2020',
       'Total_rep_de_ldc_2019', 'Total_rep_de_ldc_2018',
       'Total_rep_de_ldc_2017', 'Total_rep_de_ldc_2016',
       'Total_rep_de_ldc_2015', 'Total_rep_de_ldc_2014',
       'Total_rep_de_ldc_2013', 'Total_rep_de_ldc_2012',
       'Total_rep_de_ldc_2011'],
      dtype='object')

In [64]:
df_oog.columns

Index(['FRS_Id', 'Facility_Name', 'Basin', 'City', 'State', 'Zip_Code',
       'Address', 'County', 'Latitude', 'Longitude', 'Primary_NAICS_Code',
       'IT_subparts', 'Total_emi_oog_2020', 'CO2_emi_non_bio_2020',
       'Meth_CH4_emi_2020', 'N2O_emi_2020', 'Total_emi_oog_2019',
       'CO2_emi_non_bio_2019', 'Meth_CH4_emi_2019', 'N2O_emi_2019',
       'Total_emi_oog_2018', 'CO2_emi_non_bio_2018', 'Meth_CH4_emi_2018',
       'N2O_emi_2018', 'Total_emi_oog_2017', 'CO2_emi_non_bio_2017',
       'Meth_CH4_emi_2017', 'N2O_emi_2017', 'Total_emi_oog_2016',
       'CO2_emi_non_bio_2016', 'Meth_CH4_emi_2016', 'N2O_emi_2016',
       'Total_emi_oog_2015', 'CO2_emi_non_bio_2015', 'Meth_CH4_emi_2015',
       'N2O_emi_2015', 'Total_emi_oog_2014', 'CCO2_emi_non_bio_2014',
       'Meth_CH4_emi_2014', 'N2O_emi_2014', 'Total_emi_oog_2013',
       'CO2_emi_non_bio_2013', 'Meth_CH4_emi_2013', 'N2O_emi_2013',
       'Total_emi_oog_2012', 'CO2_emi_non_bio_2012', 'Meth_CH4_emi_2012',
       'N2O_emi_2012', 'Total_emi_oog_2011', 'CO2_emi_non_bio_2011',
       'Meth_CH4_emi_2011', 'N2O_emi_2011'],
      dtype='object')

In [118]:
datasets = (df_de,df_sf6,df_oog,df_ldc)
datasets_backup = (df_de_backup,df_sf6_backup,df_oog_backup,df_ldc_backup)

In [119]:
i=1
with pd.ExcelWriter('data.xlsx') as writer: 
    for df in datasets:
        print(df.shape)
        df.to_excel(writer,sheet_name = 'sheet'+str(i))
        print('sheet'+str(i))
        i+=1
i=1    
with pd.ExcelWriter('data_backup.xlsx') as writer: 
    for df in datasets_backup:
        print(df.shape)
        df.to_excel(writer,sheet_name = 'sheet'+str(i))
        print('sheet'+str(i))
        i+=1

(6515, 22)
sheet1
(89, 31)
sheet2
(468, 52)
sheet3
(164, 22)
sheet4
(6515, 22)
sheet1
(89, 31)
sheet2
(468, 52)
sheet3
(164, 22)
sheet4

In [67]:
new_df = pd.read_excel('data.xlsx',sheet_name=1,index_col=0)
new_df.shape

(89, 31)

In [85]:
new_df.head()

,FRS Id,Facility Name,Reported City,Reported State,Reported Zip Code,Reported Address,Reported County,Reported Latitude,Reported Longitude,Primary NAICS Code,...,Total reported direct emissions from Electrical Equipment Use_2015,SF6 emissions _2015,Total reported direct emissions from Electrical Equipment Use_2014,SF6 emissions _2014,Total reported direct emissions from Electrical Equipment Use_2013,SF6 emissions _2013,Total reported direct emissions from Electrical Equipment Use_2012,SF6 emissions _2012,Total reported direct emissions from Electrical Equipment Use_2011,SF6 emissions _2011
Facility Id,,,,,,,,,,,,,,,,,,,,,
1003708,1.100006e+11,AEP Corporate SF6 Emissions,Columbus,OH,43215,1 Riverside Plaza,WASHINGTON COUNTY,39.588493,-81.682523,221112,...,148364.16,148364.16,124825.44,124825.44,134433.36,134433.36,88826.52,88826.52,123781.20,123781.20
1010811,1.100107e+11,Ameren Illinois Electric,Peoria,IL,61602,300 Liberty Street,PEORIA COUNTY,40.690480,-89.592440,221122,...,10488.00,10488.00,20241.84,20241.84,28244.64,28244.64,91298.04,91298.04,11251.80,11251.80
1010812,1.100118e+11,Ameren Missouri Electric,St. Louis,MO,63103,1901 Chouteau Avenue,ST. LOUIS CITY,38.620785,-90.211635,221122,...,5492.52,5492.52,35928.24,35928.24,13025.64,13025.64,14322.96,14322.96,31703.40,31703.40
1010076,1.100555e+11,Anaheim Electric Distribution System,Anaheim,CA,92805,"201 S. Anaheim Blvd., MS-1101",ORANGE COUNTY,33.834580,-117.914010,221122,...,2975.40,2975.40,1876.44,1876.44,7685.88,7685.88,7986.84,7986.84,6513.96,6513.96
1009780,1.100118e+11,Arizona Public Service Company,Phoenix,AZ,85021,2124 W. Cheryl Ave.,MARICOPA COUNTY,33.578425,-112.104408,221121,...,54697.20,54697.20,38876.28,38876.28,14033.40,14033.40,4190.64,4190.64,36288.48,36288.48